
      <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Roboto);
        @import url(https://fonts.googleapis.com/css?family=Montserrat);
        .panel-heading {
            background-image: none;
            background-color: #ECECEC;
            color: #5bc0de;
            font-family: 'Roboto', sans-serif;
        }

          .panel-title{
            font-size: 30px;   
          }
          .pie_form{
            background-image: none;
            background-color: #ECECEC;
            color: white;   
          }
          .line1
          {
            display: inline-block;
            width: 30% !important;
          }

      </style>

      <div class="container-fluid navbar navbar-default" style = "margin-bottom:0px!importan">
        <div class="row">
            <%= simple_form_for [@paciente, @historia_clinica, @nota_progreso], :html => { :class => 'pf_form shadow', :id => 'validation' } do |f| %>



            <% if @nota_progreso.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@nota_progreso.errors.count, "error") %> prohibited this nota_progreso from being saved:</h2>

                <ul>
                <% @nota_progreso.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="container" style="margin-top:10px; margin-bottom:-8px; text-align: left; margin-left: 0px!important;">
                <div class="centered title"><h1 style=" font-size:25px; text-align: left;color: #22BDC8;">  <%= link_to "Regresar", paciente_historia_clinica_notas_progreso_path(@paciente,@historia_clinica), :class=>"btn btn-info color_blanco mrg" %><br><br><span style = "margin-right:10px;color: #22BDC8;"class="glyphicon glyphicon-list-alt"></span>Información Nota de Evolución</h1></div>
            </div>

            <hr class="featurette-divider"></hr>

            <div class="col-md-12">
              <label class="label">Descripción:</label>
              <div class="form-group">

              <%= f.text_area :descripcion, class: "form-control ", required: true, placeholder: 'Campo Obligatorio' %>
              </div>
            </div>

            <%= f.hidden_field :documento_paciente, :value => @paciente.documento %>
            <%= f.hidden_field :tipo_documento, :value => @paciente.select_documento %>
            <%= f.hidden_field :nombre_paciente, :value => @paciente.primer_nombre %>
            <%= f.hidden_field :historia_clinica_id, :value => @historia_clinica.id %>

            <br/>


        <div class="well pie_form">
          <div class="form-actions"  style = "text-align:center!important"> 
              
                 
                  <button type="reset" class="btn btn btn-info custom" style = "margin-right:20px;">Borrar</button>
                  <%= f.submit "Guardar", :class => 'btn btn btn-info custom ' %>
              
          </div>
        </div>



        </div>





 
      <% end %>


        </div>




   






<script type="text/javascript">


// Seleccionar una ciudad sin registrar una nueva
$('.city').change(function(e) {
  if ($(this).prop("selectedIndex") != 0)
    {
        $('#chkPassport').prop('disabled', true);  
    }
    else
    {
        $('#chkPassport').prop('disabled', false);
    }
});

// Mostrar el Checkbox para agregar


    $(function () {
        $("#chkPassport").click(function () {
            if ($(this).is(":checked")) {
                $(".city").prop('disabled', true);              
                $("#dvPassport").show();
            } else {
                $(".city").prop('disabled', false);                            
                $("#dvPassport").hide();
            }
        });
    });
</script>











    




