





<div class="container-fluid">            
    <div id="loginbox" style = "margin-top: 30px;" class="mainbox col-md-12 col-sm-12"> 
        <style type="text/css">
            @import url(https://fonts.googleapis.com/css?family=Roboto);
            @import url(https://fonts.googleapis.com/css?family=Montserrat);
            .panel-heading {
                background-image: none;
                background-color: #ECECEC;
                color: #5bc0de;
                font-family: 'Roboto', sans-serif;
            }

            .panel-title{
                font-size: 30px;   
            }
            .pie_form{
                background-image: none;
                background-color: #ECECEC;
                color: white;   
            }
            .line1
            {
                display: inline-block;
                width: 30% !important;
            }

        </style>


        <div class="container-fluid navbar navbar-default" style = "margin-bottom:0px!importan">
            <div class="row">
                <br/>
                <div class="container-fluid" >        
                    <div class="col-sm-6">
                        <%= link_to "Regresar", paciente_historia_clinica_notas_progreso_path(@paciente, @historia_clinica), :class => 'btn btn-primary  color_blanco principal' %>
                    </div>
                </div>

                <div class="col-sm-6">
                </div>

            </div>
        <div>

        <br/>


        <div class="row">
            <div class="profile">
                <div class="col-sm-12">
                    <div class="container-fluid">
                        <div class="row col-md-12  custyle">
                            <h1 style=" font-size:25px; text-align: left;color: #22BDC8; margin-top: 0px;"> 
                                <span style = "margin-right:10px;color: #22BDC8; "class="glyphicon glyphicon-list-alt"></span> 
                                Datos Nota de Evolución
                            </h1>

                            <table class="table table-striped custab table-bordered table-hover">

                                <tr>
                                    <th>Historia Clinica:</th>
                                    <td><%= @nota_progreso.historia_clinica_id %></td>
                                    <th>Nombre Paciente:</th>
                                    <td><%= @nota_progreso.nombre_paciente %></td>
   
                                </tr>
                                <tr>
                                    <th>Tipo Documento:</th>
                                    <td><%= @nota_progreso.tipo_documento %></td>
                                    <th>Documento Paciente:</th>
                                    <td><%= @nota_progreso.documento_paciente %></td>
                                    
                                </tr>

                                <tr>
                                    <th>Responsable:</th>
                                    <td><%= @nota_progreso.user.nombre_usuario  %></td>
                                    <th>Cargo:</th>
                                    <td><%= @nota_progreso.user.rol.nombre %></td>

                                </tr>
                                <tr>
                                    <th>Hora</th>
                                    <td>
                                        <%= @nota_progreso.created_at.strftime("%X")  %>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Descripción:</th>
                                    <td  colspan="3"><%= @nota_progreso.descripcion %></td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>            
                <div class="col-xs-12 text-center">

                    <div class="col-xs-12 col-sm-3 emphasis">

                    <% @ultimaHc = @paciente.historias_clinicas.last %>

                        <%= link_to "Ultima Historia Clinica", paciente_historia_clinica_path(@paciente, @ultimaHc), :class => 'btn btn-primary  color_blanco principal' %>
                    </div>

                    <div class="col-xs-12 col-sm-3 emphasis">
                        <%= link_to ' Nueva Historia Clinica',  new_paciente_historia_clinica_path(@paciente), :class => 'btn btn-primary  color_blanco principal'  %>


                    </div>
                    <div class="col-xs-12 col-sm-3 emphasis">
                        <% if @paciente.historias_clinicas.count != 0 
                        @alejo = @paciente.historias_clinicas.last
                          %>
                          
                        <%= link_to ' Nueva Nota de Evolucion', new_paciente_historia_clinica_nota_progreso_path(@paciente, @alejo.id), :class => 'btn btn-primary  color_blanco principal' %> 

                        <% end %>

                    </div>
                    <div class="col-xs-12 col-sm-3 emphasis">
                        <%= link_to 'Ver Historias Clinicas ', paciente_historias_clinicas_path(@paciente), :class => 'btn btn-primary color_blanco principal' %> 
                    </div>
                </div>
            </div>  

            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
<style type="text/css">
    @import url(http://fonts.googleapis.com/css?family=Lato:400,700);
    
body {
    font-family: 'Lato', 'sans-serif';
}

.profile {
    min-height: 290px;
    display: inline-block;
}

figcaption.ratings {
    margin-top:20px;
}

figcaption.ratings a {
    color:#f1c40f;
    font-size:11px;
}

figcaption.ratings a:hover {
    color:#f39c12;
    text-decoration:none;
}

.divider {
    border-top:1px solid rgba(0,0,0,0.1);
}

.emphasis {
    border-top: 4px solid transparent;
}


.emphasis h2 {
    margin-bottom:0;
}

span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}

.dropdown-menu {
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}

.dropdown-menu .divider {
    background:none;    
}

.dropdown-menu>li>a {
    color:#f5f5f5;
}
    
.dropup .dropdown-menu {
    margin-bottom:10px;
}
    
.dropup .dropdown-menu:before {
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}
</style>

