<p id="notice"><%= notice %></p>

<p>
  <strong>Familia:</strong>
  <%= @cie10.familia %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @cie10.codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @cie10.descripcion %>
</p>

<%= link_to 'Edit', edit_cie10_path(@cie10) %> |
<%= link_to 'Back', cie10s_path %>
