




<br/><br/><br/><br/>
<div class="container-fluid">

<div class="row">
<div class="full col-sm-9 full2">




    <span  class="btn btn-link btn-xs  pull-left pagination pagination"><h1 class="title">Aeropuertos</h1></span>


    <span class="btn btn-link btn-xs pull-right ">  <%= will_paginate @aeropuertos, renderer: BootstrapPagination::Rails, :previous_label => 'Atras', :next_label => 'Siguiente' %>
</span>
<% if admin? %>

    <span  class="btn btn-link btn-xs  pagination pagination pull-right"><%= link_to 'Nuevo Aeropuerto', new_aeropuerto_path, remote: true, :class => "btn  principal" %></span>
<% end %>



<div class="row new_blog">
<div class="col-md-6" id="task-form" style="display:none;"></div>
</div>



<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>

    <div class="col-lg-6">
      <div class="input-group custom-search-form">
        <%= text_field_tag :search, params[:search], :placeholder => "Buscador Aeropuertos", :class => "form-control"  %>
        <span class="input-group-btn">
        <%= button_tag(type: "submit", class: "btn btn-default") do %>
            <i class="glyphicon glyphicon-search"></i>
        <% end %>
        </span>
      </div><!-- /input-group -->
    </div>

  <% end %>
<% end %>




<br />

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="4% !important;">Id</th>
      <th width="27% !important;">Nombre</th>
      <th width="27% !important;">Departamento</th>
      <th width="27% !important;">Ciudad</th>
      <th width="14% !important;">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @aeropuertos %>
  </tbody>
</table>



</div>








