

<br/>
<br/>
<br/>
<br/>



<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

<div class="container-fluid">    
        
    <div id="loginbox" class="mainbox col-md-12 col-sm-12"> 
        

        

<style type="text/css">
  .panel > .panel-heading {
    background-image: none;
    background-color: #3B5999;
    color: white;
}

  .panel-title{
    font-size: 25px;   
  }
  .pie_form{
    background-image: none;
    background-color: #3B5999;
    color: white;   
  }

</style>






<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

<div class="panel panel-default" >

<div class="panel-heading">
    <div class="panel-title text-center">Datos para el Usuario<span class="glyphicon glyphicon-user"></span></div>
</div>   



<div class="container-fluid">
  <div class="row">



      <%= simple_form_for(@user) do |f| %>


<br/>















<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <form class="form-horizontal span6">
        <fieldset>
       

       
          <div class="form-group">
            <div class="controls">
              <div class="row">
                <div class="col-sm-3 col-md-3">
                            <label class="control-label">Primer Nombre:</label>


            <%= f.text_field :first_name, class: "form-control ", required: true, placeholder: 'Primer Nombre' %>


                </div>
                <div class="col-sm-3 col-md-3">
                    <label class="control-label">Segundo Nombre:</label>
            <%= f.text_field :second_name, class: "form-control ", required: true, placeholder: 'Segundo Nombre' %>


                </div>
                <div class="col-sm-3 col-md-3">
                  <label class="control-label">Tipo Documento:</label>


                <%= f.input :type_document,
                        prompt:       'Seleccionar un Documento',
                        collection: @user.select_document.sort,
                        error: false, label: false, 
                        input_html:   {class: 'form-control '},required: true  %>
                </div>
                <div class="col-sm-3 col-md-3">
                            <label class="control-label">Documento:</label>

              <%= f.text_field :document, class: "form-control ", required: true, placeholder: 'Documento',  id: 'document'  %>



                </div>
              </div>
            </div>
          </div>




          <div class="form-group">
            <div class="controls">
              <div class="row">
                <div class="col-sm-3 col-md-3">
                            <label class="control-label">Registro Medico:</label>

            <%= f.text_field :medical_record, class: 'ng-binding form-control', required: true, placeholder: 'Registro Medico' %>


                </div>
                <div class="col-sm-3 col-md-3">
                    <label class="control-label">Email:</label>
            <%= f.text_field :email, class: 'form-control', required: true, placeholder: 'Email' %>


                </div>



        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="form-group">
                  <label class='control-label new_blog'>Seleccionar un Rol:</label>                
                        <%= f.collection_select :rol_id, Rol.all, :id, :name, {prompt: "Campo Obligatorio"}, {class: "form-control"} %>


                      </label>

              </div>
        </div>



        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="form-group">
                    <label class="control-label">Cargar Imagen:</label>

            <div class="fileinput fileinput-new" data-provides="fileinput">
              <div>
                <span class="btn btn-default btn-file"><span class="fileinput-new"><%= f.file_field :picture, class: "form-control", id: 'button' %></span><span class="fileinput-exists">Cambiar</span><input type="file" name="..."></span>
                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
              </div>
            </div>
            
          </div>
        </div>



              </div>
            </div>
          </div>





      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.hidden_field :password, class: 'form-control', id: 'password1', placeholder: 'Contraseña', :autocomplete => :off  %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.hidden_field :password_confirmation, class: 'form-control', id: 'password2', placeholder: 'Confirma tu Contraseña', :autocomplete => :off  %>
          </div>
        </div>
      </div>













            <div class="row  well pie_form">



        <div class="form-actions ">
              

              <div class="col-md-5">


                <%= link_to "Usuarios",  users_path, :class => "btn btn-success color_blanco" %>


              </div>


              <div class="col-md-5 col-md-push-4">

                <button type="reset" class="btn btn-default ">Borrar</button>


          <%= f.submit "Guardar", :class => 'btn btn-success' %>


              </div>


        </div>


  </div>
</div>
            <% end %>




</div>






          
       
       

        </fieldset>
    </div>
  </div>
</div>



   



<script type="text/javascript">
  $("#document").keyup(function(){
    $("#password1").val(this.value);
    $("#password2").val(this.value);
    $("#document").val(this.value);
});
</script>




                    
