<div class="container-fluid form">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <%= simple_form_for(@user, :html => {  multipart: true }) do |f| %>
      <h2>Por Favor Completa todos los campos <br/><small>Para registrar un nuevo usuario.</small></h2>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :first_name, class: "form-control input-lg", required: true, placeholder: 'Primer Nombre' %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :second_name, class: "form-control input-lg", required: true, placeholder: 'Segundo Nombre' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :first_surname, class: "form-control input-lg", required: true, placeholder: 'Primer Apellido' %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :second_surname, class: "form-control input-lg", required: true, placeholder: 'Segundo Apellido' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.input :type_document,
                        prompt:       'Seleccionar un Documento',
                        collection: @user.select_document.sort,
                        error: false, label: false, 
                        input_html:   {class: 'form-control input-lg'},required: true  %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
              <%= f.text_field :document, class: "form-control input-lg", required: true, placeholder: 'Documento',  id: 'document'  %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :medical_record, class: 'ng-binding form-control input-lg', required: true, placeholder: 'Registro Medico' %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :email, class: 'form-control input-lg', required: true, placeholder: 'Email' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">

            <div class="fileinput fileinput-new" data-provides="fileinput">
              <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
              <div>
                <span class="btn btn-default btn-file"><span class="fileinput-new"><%= f.file_field :picture, class: "form-control", id: 'button' %></span><span class="fileinput-exists">Cambiar</span><input type="file" name="..."></span>
                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.hidden_field :password, class: 'form-control', id: 'password1', placeholder: 'Contraseña', :autocomplete => :off  %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.hidden_field :password_confirmation, class: 'form-control', id: 'password2', placeholder: 'Confirma tu Contraseña', :autocomplete => :off  %>
          </div>
        </div>
      </div>

      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-6 col-md-6">
        <%= f.submit 'Enviar!', class: 'btn btn-primary btn-block btn-lg' %>
        </div>
        <div class="col-xs-6 col-md-6">
        <%= link_to 'Atras', root_path, class: 'btn btn-success btn-block btn-lg color-blanco' %></div>
      </div>
    <% end %>
  </div>
</div>

</div>

<style type="text/css">
.form{
      margin-top: 6em;

}
  .colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
</style>


<script type="text/javascript">
  $("#document").keyup(function(){
    $("#password1").val(this.value);
    $("#password2").val(this.value);
    $("#document").val(this.value);
});
</script>