





<div class="container-fluid">            
    <div id="loginbox" style = "margin-top: 30px;" class="mainbox col-md-12 col-sm-12"> 
        <style type="text/css">
            @import url(https://fonts.googleapis.com/css?family=Roboto);
            @import url(https://fonts.googleapis.com/css?family=Montserrat);
            .panel-heading {
                background-image: none;
                background-color: #ECECEC;
                color: #5bc0de;
                font-family: 'Roboto', sans-serif;
            }

            .panel-title{
                font-size: 30px;   
            }
            .pie_form{
                background-image: none;
                background-color: #ECECEC;
                color: white;   
            }
            .line1
            {
                display: inline-block;
                width: 30% !important;
            }

        </style>


        <div class="container-fluid navbar navbar-default" style = "margin-bottom:0px!importan">
            <div class="row">
                <br/>
                <div class="container-fluid" >        
                    <div class="col-sm-6">
                        <%= link_to "Regresar", users_path(), :class => 'btn btn-primary  color_blanco principal' %>
                    </div>
                </div>

                <div class="col-sm-6">
                </div>

            </div>
        <div>

        <br/>


        <div class="row">
            <div class="profile">
                <div class="col-sm-12">
                    <div class="container-fluid">
                        <div class="row col-md-12  custyle">
                            <h1 style=" font-size:25px; text-align: left;color: #22BDC8; margin-top: 0px;"> 
                                <span style = "margin-right:10px;color: #22BDC8; "class="glyphicon glyphicon-list-alt"></span> 
                                Datos Nota del Usuario
                            </h1>

                            <table class="table table-striped custab table-bordered table-hover">

                                <tr>
                                    <th>Nombres:</th>
                                    <td><%= @user.nombres %> </td>
                                    <th>Apellidos:</th>
                                    <td><%= @user.apellidos %> </td>
   
                                </tr>
                                <tr>
                                    <th>Tipo De Identificación:</th>
                                    <td><%= @user.tipo_documento %></td>
                                    <th>Identificación</th>
                                    <td><%= @user.documento %></td>
                                    
                                </tr>

                                <tr>
                                    <th>Email:</th>
                                    <td><%= @user.email  %></td>

                                </tr>

                                <tr>
                                    <th>Descripción:</th>
                                    <td  colspan="3"><%= @user.email %></td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div> 



                <div class="col-xs-12 text-center">
                    <div class="col-xs-12 col-sm-4 emphasis">



                        <%= link_to ' Nuevo Usuario',  new_user_path(), :class => 'btn btn-primary  color_blanco principal'  %>


                    </div>
 
                    <div class="col-xs-12 col-sm-4 emphasis">

                        <%= link_to ' Editar Usuario',  edit_user_path(), :class => 'btn btn-primary  color_blanco principal'  %>


                    </div>
                </div>
            </div>  

            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
<style type="text/css">
    @import url(http://fonts.googleapis.com/css?family=Lato:400,700);
    
body {
    font-family: 'Lato', 'sans-serif';
}

.profile {
    min-height: 290px;
    display: inline-block;
}

figcaption.ratings {
    margin-top:20px;
}

figcaption.ratings a {
    color:#f1c40f;
    font-size:11px;
}

figcaption.ratings a:hover {
    color:#f39c12;
    text-decoration:none;
}

.divider {
    border-top:1px solid rgba(0,0,0,0.1);
}

.emphasis {
    border-top: 4px solid transparent;
}


.emphasis h2 {
    margin-bottom:0;
}

span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}

.dropdown-menu {
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}

.dropdown-menu .divider {
    background:none;    
}

.dropdown-menu>li>a {
    color:#f5f5f5;
}
    
.dropup .dropdown-menu {
    margin-bottom:10px;
}
    
.dropup .dropdown-menu:before {
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}
</style>
































<style type="text/css">
    
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}
    
.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg 
    opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}           

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

    
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }       
}
</style>
