


<tr id=<%= "arl_#{arl.id}" %>>
	<td><%= link_to arl.id, edit_arl_path(arl), :remote => true %></td>
	<td><%= arl.nombre.capitalize %></td>
	
	<td>


    <%= link_to 'Mostrar',  arl, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-primary btn-xs color_blanco principal'%>



    <%= link_to 'Editar', edit_arl_path(arl),  :rel => "tooltip", :title => "Editar", :class => 'btn btn-primary btn-xs color_blanco principal',  :remote => true %>



	</td>
</tr>