 <div class="col-md-12" style = "margin:15px!important;text-align:center;">

    <%= link_to "1. Informacion General", patient_clinic_history_steps_path(@patient, @clinic_history, ClinicHistory.form_steps.first), :class=>"btn btn-info color_blanco mrg" %>

    <%= link_to "2. Antesedentes Personales", patient_clinic_history_steps_path(@patient, @clinic_history, ClinicHistory.form_steps.second), :class=>"btn btn-info color_blanco mrg" %>


    <a class="btn btn-info color_blanco mrg disabled">3. Revisi贸n por Sistemas</a>

    <a class="btn btn-info color_blanco mrg disabled">4. Examen Fisico</a>

    <a class="btn btn-info color_blanco mrg disabled">5. Impresi贸n Diagnostica</a>



</div>





<div class="container-fluid">    
        
    <div id="loginbox" class="mainbox col-md-12 col-sm-12"> 
        

        

<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.panel-heading {
    background-image: none;
    background-color: #ECECEC;
    color: #5bc0de;
    font-family: 'Roboto', sans-serif;
}

  .panel-title{
    font-size: 30px;   
  }
  .pie_form{
    background-image: none;
    background-color: #ECECEC;
    color: white;   
  }
  .line1
  {
    display: inline-block;
    width: 30% !important;
  }

</style>







<div class="container-fluid navbar navbar-default" style = "margin-bottom:0px!importan">
  <div class="row">
<%= simple_form_for([@patient, @clinic_history], method: :put, url: wizard_path, :html => { :class => 'block multistep pf_form w_normal horizontal_center shadow', :id => "checkout" }) do |f| %>







<div class="container" style="margin-top:10px; margin-bottom:-8px;">
        <div class="centered title"> <h1 style=" font-size:25px;"> <span style = "margin-right:10px;"class="glyphicon glyphicon-user"></span> Paso 3 Revisi贸n por Sistemas</h1></div>
     </div>
     <hr class="featurette-divider"></hr>




<div class="container-fluid">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="tab_logic">

        <thead>
          <tr >
            <th  colspan="1">
            </th>



            <th  colspan="1">
               &nbsp;Seleccionar todos Si &nbsp;<input type="checkbox" id="checkAll"  />
            </th>

            <th  colspan="1">
               &nbsp;Seleccionar todos No &nbsp;<input type="checkbox" id="checkAll2"  />
            </th>
            <th  colspan="1">
            </th>

          </tr>
        </thead>
        <thead>
          <tr >
            <th class="text-center" style="width:10%">
              Nombre
            </th>
            <th class="text-center" style="width:10%">
              Si
            </th>
            <th class="text-center" style="width:10%">
              No
            </th>
            <th class="text-center" style="width:60%">
              Ampliar Informaci贸n
            </th>
          </tr>
        </thead>










        <tbody>
          <tr id='addr0' class="selectme">
            <td align="center">
            Cardiovascular
            </td>
            <td align="center">
              <%= f.check_box :cardiovascular_true, class: 'checkItem myCheckbox1' %>
            </td>
            <td align="center">
              <%= f.check_box :cardiovascular_false, class: 'checkItem2 myCheckbox12' %>
            </td>
            <td>
            <%= f.text_field :cardiovascular_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>



          <tr id='addr0' class="selectme">
            <td align="center">
            Respiratorio
            </td>
            <td align="center">
              <%= f.check_box :respiratory_true, class: 'checkItem myCheckbox2' %>
            </td>
            <td align="center">
              <%= f.check_box :respiratory_false, class: 'checkItem2 myCheckbox22' %>
            </td>
            <td>
            <%= f.text_field :respiratory_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>


          <tr id='addr0' class="selectme">
            <td align="center">
            Abdominal
            </td>
            <td align="center">
              <%= f.check_box :abdominal_true, class: 'checkItem myCheckbox3' %>
            </td>
            <td align="center">
              <%= f.check_box :abdominal_false, class: 'checkItem2 myCheckbox32' %>
            </td>
            <td>
            <%= f.text_field :abdominal_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>


          <tr id='addr0' class="selectme">
            <td align="center">
            Genito urinario
            </td>
            <td align="center">
              <%= f.check_box :genito_urinario_true, class: 'checkItem myCheckbox4' %>
            </td>
            <td align="center">
              <%= f.check_box :genito_urinario_false, class: 'checkItem2 myCheckbox42' %>
            </td>
            <td>
            <%= f.text_field :genito_urinario_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>


          <tr id='addr0' class="selectme">
            <td align="center">
            Neurologico
            </td>
            <td align="center">
              <%= f.check_box :neurological_true, class: 'checkItem myCheckbox5' %>
            </td>
            <td align="center">
              <%= f.check_box :neurological_false, class: 'checkItem2 myCheckbox52' %>
            </td>
            <td>
            <%= f.text_field :neurological_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>


          <tr id='addr0' class="selectme">
            <td align="center">
            Mental
            </td>
            <td align="center">
              <%= f.check_box :mental_true, class: 'checkItem myCheckbox6' %>
            </td>
            <td align="center">
              <%= f.check_box :mental_false, class: 'checkItem2 myCheckbox62' %>
            </td>
            <td>
            <%= f.text_field :mental_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>


          <tr id='addr0' class="selectme">
            <td align="center">
            Organo de los sentidos
            </td>
            <td align="center">
              <%= f.check_box :sense_organ_true, class: 'checkItem myCheckbox7' %>
            </td>
            <td align="center">
              <%= f.check_box :sense_organ_false, class: 'checkItem2 myCheckbox72' %>
            </td>
            <td>
            <%= f.text_field :sense_organ_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>




          <tr id='addr0' class="selectme">
            <td align="center">
            Musculo-esqueletico
            </td>
            <td align="center">
              <%= f.check_box :skeletal_muscle_true, class: 'checkItem myCheckbox8' %>
            </td>
            <td align="center">
              <%= f.check_box :skeletal_muscle_false, class: 'checkItem2 myCheckbox82' %>
            </td>
            <td>
            <%= f.text_field :skeletal_muscle_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>

          <tr id='addr0' class="selectme">
            <td align="center">
            Piel y faneras
            </td>
            <td align="center">
              <%= f.check_box :skin_and_appendages_true, class: 'checkItem myCheckbox9' %>
            </td>
            <td align="center">
              <%= f.check_box :skin_and_appendages_false, class: 'checkItem2 myCheckbox92' %>
            </td>
            <td>
            <%= f.text_field :skin_and_appendages_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>






        </tbody>
      </table>
    </div>
  </div>








   










<br/>
<br/>





         <div class="well pie_form">

                <div class="form-actions"  style = "text-align:center!important"> 
                <%= link_to "Regresar", patient_clinic_history_steps_path(@patient, @clinic_history, ClinicHistory.form_steps.second), :class=>"btn btn-info color_blanco custom" %>
                    
                        <button type="rese  t" class="btn btn btn-info custom" style = "margin-right:20px;margin-left:20px;">Borrar</button>
                        <%= f.submit "Siguiente", :class => 'btn btn btn-info  custom' %>
                    
                </div>
              </div>


  </div>
</div>




            <% end %>




</div>












<script type="text/javascript">




$('#checkAll').click(function () {    
    $(':checkbox.checkItem').prop('checked', this.checked);    
    $(':checkbox.checkItem2').prop('checked', false);    
    $( "#checkAll2" ).prop( "checked", false );

 });
$('#checkAll2').click(function () {    
    $(':checkbox.checkItem2').prop('checked', this.checked);    
    $(':checkbox.checkItem').prop('checked', false);    
    $( "#checkAll" ).prop( "checked", false );

 });



////////////////
$('.myCheckbox1').click(function () {    
    $('.myCheckbox1').prop('checked', this.checked);    
    $('.myCheckbox12').prop('checked', false);    
    

 });
$('.myCheckbox12').click(function () {    
    $('.myCheckbox12').prop('checked', this.checked);    
    $('.myCheckbox1').prop('checked', false);    
    

 });
///////////////

$('.myCheckbox2').click(function () {    
    $('.myCheckbox2').prop('checked', this.checked);    
    $('.myCheckbox22').prop('checked', false);    
    

 });
$('.myCheckbox22').click(function () {    
    $('.myCheckbox22').prop('checked', this.checked);    
    $('.myCheckbox2').prop('checked', false);    
    

 });
///////////////
$('.myCheckbox3').click(function () {    
    $('.myCheckbox3').prop('checked', this.checked);    
    $('.myCheckbox32').prop('checked', false);    
    

 });
$('.myCheckbox32').click(function () {    
    $('.myCheckbox32').prop('checked', this.checked);    
    $('.myCheckbox3').prop('checked', false);    
    

 });

$('.myCheckbox4').click(function () {    
    $('.myCheckbox4').prop('checked', this.checked);    
    $('.myCheckbox42').prop('checked', false);    
    

 });
$('.myCheckbox42').click(function () {    
    $('.myCheckbox42').prop('checked', this.checked);    
    $('.myCheckbox4').prop('checked', false);    
    

 });


$('.myCheckbox5').click(function () {    
    $('.myCheckbox5').prop('checked', this.checked);    
    $('.myCheckbox52').prop('checked', false);    
    

 });
$('.myCheckbox52').click(function () {    
    $('.myCheckbox52').prop('checked', this.checked);    
    $('.myCheckbox5').prop('checked', false);    
    

 });


$('.myCheckbox6').click(function () {    
    $('.myCheckbox6').prop('checked', this.checked);    
    $('.myCheckbox62').prop('checked', false);    
    

 });
$('.myCheckbox62').click(function () {    
    $('.myCheckbox62').prop('checked', this.checked);    
    $('.myCheckbox6').prop('checked', false);    
    

 });


$('.myCheckbox7').click(function () {    
    $('.myCheckbox7').prop('checked', this.checked);    
    $('.myCheckbox72').prop('checked', false);    
    

 });
$('.myCheckbox72').click(function () {    
    $('.myCheckbox72').prop('checked', this.checked);    
    $('.myCheckbox7').prop('checked', false);    
    

 });


$('.myCheckbox8').click(function () {    
    $('.myCheckbox8').prop('checked', this.checked);    
    $('.myCheckbox82').prop('checked', false);    
    

 });
$('.myCheckbox82').click(function () {    
    $('.myCheckbox82').prop('checked', this.checked);    
    $('.myCheckbox8').prop('checked', false);    
    

 });
$('.myCheckbox9').click(function () {    
    $('.myCheckbox9').prop('checked', this.checked);    
    $('.myCheckbox92').prop('checked', false);    
    

 });
$('.myCheckbox92').click(function () {    
    $('.myCheckbox92').prop('checked', this.checked);    
    $('.myCheckbox9').prop('checked', false);    
    

 });







</script>