 <div class="col-md-12" style = "margin:15px!important;text-align:center;">

    <%= link_to "1. Informacion General", patient_clinic_history_steps_path(@patient, @clinic_history, ClinicHistory.form_steps.first), :class=>"btn btn-info color_blanco mrg" %>

    <%= link_to "2. Antesedentes Personales", patient_clinic_history_steps_path(@patient, @clinic_history, ClinicHistory.form_steps.second), :class=>"btn btn-info color_blanco mrg" %>

    <%= link_to "3. Revisión por Sistemas", patient_clinic_history_steps_path(@patient, @clinic_history, ClinicHistory.form_steps.third), :class=>"btn btn-info color_blanco mrg" %>




    <a class="btn btn-info color_blanco mrg disabled">4. Examen Fisico</a>

    <a class="btn btn-info color_blanco mrg disabled">5. Impresión Diagnostica</a>


</div>





<div class="container-fluid">    
        
    <div id="loginbox" class="mainbox col-md-12 col-sm-12"> 
        

        

<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.panel-heading {
    background-image: none;
    background-color: #ECECEC;
    color: #5bc0de;
    font-family: 'Roboto', sans-serif;
}

  .panel-title{
    font-size: 30px;   
  }
  .pie_form{
    background-image: none;
    background-color: #ECECEC;
    color: white;   
  }
  .line1
  {
    display: inline-block;
    width: 30% !important;
  }

</style>







<div class="container-fluid navbar navbar-default" style = "margin-bottom:0px!importan">
  <div class="row">
<%= simple_form_for([@patient, @clinic_history], method: :put, url: wizard_path, :html => { :class => 'block multistep pf_form w_normal horizontal_center shadow', :id => "checkout" }) do |f| %>







<div class="container" style="margin-top:10px; margin-bottom:-8px;">
        <div class="centered title"> <h1 style=" font-size:25px;"> <span style = "margin-right:10px;"class="glyphicon glyphicon-user"></span> Paso 4 Examen Fisico</h1></div>
     </div>
     <hr class="featurette-divider"></hr>




<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <div class="col-md-3">
              <label>TA mm/HG:</label> 
              <%= f.input :ta_mmgh, :input_html => { :class => 'form-control fs1' }, label: false %>

          </div>
          <div class="col-md-3">
              <label>Frecuencía Cardiaca:</label> 
              <%= f.input :heart_rate, :input_html => { :class => 'form-control fs1' }, label: false %>
          </div>

          <div class="col-md-3">
              <label>Frecuencía Respiratoria:</label> 
              <%= f.input :breathing_frequency, :input_html => { :class => 'form-control fs1' }, label: false %>
          </div>
          <div class="col-md-3">
              <label>% SAT. de 02 Ambiente:</label> 
              <%= f.input :sat_of_o_supplementary, :input_html => { :class => 'form-control fs1' }, label: false %>
          </div>
        </div>



        <br/>
        <br/>        <br/>
        <br/>

        <div class="col-md-12">
          <div class="col-md-3">
              <label>% SAT. de O2 Suplement:</label> 
              <%= f.input :sat_of_o_supplementary, :input_html => { :class => 'form-control fs1' }, label: false %>

          </div>
          <div class="col-md-3">
              <label>Temperatura:</label> 
              <%= f.input :temperature, :input_html => { :class => 'form-control fs1' }, label: false %>
          </div>

          <div class="col-md-3">
              <label>Peso en Kilogramos:</label> 
              <%= f.input :weight_in_kilograms, :input_html => { :class => 'form-control fs1' }, label: false %>
          </div>
          <div class="col-md-3">
              <label>Talla en Centimetros:</label> 
              <%= f.input :height_in_centimeters, :input_html => { :class => 'form-control fs1' }, label: false %>
          </div>
        </div>


    </div>
</div>




<br/>



<div class="container-fluid">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="tab_logic">

        <thead>
          <tr >
            <th  colspan="1">
            </th>



            <th  colspan="1">
               &nbsp;Seleccionar todos Si &nbsp;<input type="checkbox" id="checkAll"  />
            </th>

            <th  colspan="1">
               &nbsp;Seleccionar todos No &nbsp;<input type="checkbox" id="checkAll2"  />
            </th>
            <th  colspan="1">
            </th>

          </tr>
        </thead>
        <thead>
          <tr >
            <th class="text-center" style="width:10%">
              Nombre
            </th>
            <th class="text-center" style="width:10%">
              Si
            </th>
            <th class="text-center" style="width:10%">
              No
            </th>
            <th class="text-center" style="width:60%">
              Ampliar Información
            </th>
          </tr>
        </thead>










        <tbody>
          <tr id='addr0' class="selectme">
            <td align="center">
            Cuello
            </td>
            <td align="center">
              <%= f.check_box :neck_true, class: 'checkItem myCheckbox' %>
            </td>
            <td align="center">
              <%= f.check_box :neck_false, class: 'checkItem2 myCheckbox' %>
            </td>
            <td>
            <%= f.text_field :neck_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>


          <tr id='addr0' class="selectme">
            <td align="center">
            Corazón
            </td>
            <td align="center">
              <%= f.check_box :heart_true, class: 'checkItem myCheckbox' %>
            </td>
            <td align="center">
              <%= f.check_box :heart_false, class: 'checkItem2 myCheckbox' %>
            </td>
            <td>
            <%= f.text_field :heart_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>


          <tr id='addr0' class="selectme">
            <td align="center">
            Pulmones
            </td>
            <td align="center">
              <%= f.check_box :lungs_true, class: 'checkItem myCheckbox' %>
            </td>
            <td align="center">
              <%= f.check_box :lungs_false, class: 'checkItem2 myCheckbox' %>
            </td>
            <td>
            <%= f.text_field :lungs_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>


          <tr id='addr0' class="selectme">
            <td align="center">
            Abdomen
            </td>
            <td align="center">
              <%= f.check_box :abdomen_true, class: 'checkItem myCheckbox' %>
            </td>
            <td align="center">
              <%= f.check_box :abdomen_false, class: 'checkItem2 myCheckbox' %>
            </td>
            <td>
            <%= f.text_field :abdomen_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>


          <tr id='addr0' class="selectme">
            <td align="center">
            Genitourinario
            </td>
            <td align="center">
              <%= f.check_box :genitourinary_true, class: 'checkItem myCheckbox' %>
            </td>
            <td align="center">
              <%= f.check_box :genitourinary_false, class: 'checkItem2 myCheckbox' %>
            </td>
            <td>
            <%= f.text_field :genitourinary_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>


          <tr id='addr0' class="selectme">
            <td align="center">
            Recto
            </td>
            <td align="center">
              <%= f.check_box :rectum_true, class: 'checkItem myCheckbox' %>
            </td>
            <td align="center">
              <%= f.check_box :rectum_false, class: 'checkItem2 myCheckbox' %>
            </td>
            <td>
            <%= f.text_field :rectum_description, class: 'form-control' %>

            </td>
          </tr>

          <tr id='addr1'></tr>




          <tr id='addr0' class="selectme">
            <td align="center">
            Extremidades
            </td>
            <td align="center">
              <%= f.check_box :extremities_true, class: 'checkItem myCheckbox' %>
            </td>
            <td align="center">
              <%= f.check_box :extremities_false, class: 'checkItem2 myCheckbox' %>
            </td>
            <td>
            <%= f.text_field :extremities_description, class: 'form-control' %>

            </td>
          </tr>

          





        </tbody>
      </table>
    </div>
  </div>








<div class="container-fluid">
    <div class="row">


        <div class="col-md-12">
          <div class="col-md-3">
              <label>Alteración:</label> 
              <%= f.input :alteration, :input_html => { :class => 'form-control fs1' }, label: false %>

          </div>
          <div class="col-md-3">
              <label>Ojo abierto:</label> 
              <%= f.input :eye_opening, :input_html => { :class => 'form-control fs1' }, label: false %>
          </div>

          <div class="col-md-3">
              <label>Respuesta Verbal:</label> 
              <%= f.input :verbal_answer, :input_html => { :class => 'form-control fs1' }, label: false %>
          </div>
          <div class="col-md-3">
              <label>Respuesta Motora:</label> 
              <%= f.input :motor_response, :input_html => { :class => 'form-control fs1' }, label: false %>
          </div>
        </div>



        <br/>
        <br/>        <br/>
        <br/>


        <div class="col-md-12">
          <div class="col-md-3">
              <label>Otros Signos :</label> 
                      <%= f.input :other_signs, :input_html => { :class => 'form-control fs1' }, label: false %>

          </div>

    </div>
</div>





<br/>
<br/>





         <div class="well pie_form">

                <div class="form-actions"  style = "text-align:center!important"> 
                <%= link_to "Regresar", patient_clinic_history_steps_path(@patient, @clinic_history, ClinicHistory.form_steps.third), :class=>"btn btn-info color_blanco custom" %>
                    
                        <button type="reset" class="btn btn btn-info custom" style = "margin-right:20px;margin-left:20px; ">Borrar</button>
                        <%= f.submit "Siguiente", :class => 'btn btn btn-info  custom' %>
                    
                </div>
              </div>


  </div>
</div>




            <% end %>




</div>












<script type="text/javascript">




$('#checkAll').click(function () {    
    $(':checkbox.checkItem').prop('checked', this.checked);    
    $(':checkbox.checkItem2').prop('checked', false);    
    $( "#checkAll2" ).prop( "checked", false );

 });
$('#checkAll2').click(function () {    
    $(':checkbox.checkItem2').prop('checked', this.checked);    
    $(':checkbox.checkItem').prop('checked', false);    
    $( "#checkAll" ).prop( "checked", false );

 });



</script>