<%= javascript_include_tag "date" %>


<br/>
<br/>
<br/>
<br/>



<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

<div class="container-fluid">    
        
    <div id="loginbox" class="mainbox col-md-12 col-sm-12"> 
        

        

<style type="text/css">
  .panel > .panel-heading {
    background-image: none;
    background-color: #3B5999;
    color: white;
}

  .panel-title{
    font-size: 25px;   
  }
  .pie_form{
    background-image: none;
    background-color: #3B5999;
    color: white;   
  }

</style>






<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

<div class="panel panel-default" >

<div class="panel-heading">
    <div class="panel-title text-center"> Paso 1 Historia Clinica <span class="glyphicon glyphicon-user"></span></div>
</div>   



<div class="container-fluid">
  <div class="row">
  <%= simple_form_for([@patient, @clinic_history], :html => { :class => 'block multistep pf_form w_normal horizontal_center shadow', :id => "checkout" }) do |f| %>

<br/>

            <div class="row">

            <div class="col-md-4">
              <label class="label">Condición</label>
              <div class="form-group">
                  <%= f.input :condition,
                  prompt:       'Campo Obligatorio',
                  collection: @clinic_history.select_condition.sort,
                  error: false, label: false, 
                  input_html:   {class: 'form-control'} %>
              </div>
            </div>

            <div class="col-md-4">
              <label class="label">Aeropuerto</label>
              <div class="form-group">
              <%= f.collection_select :airport_id, Airport.all, :id, :name, :prompt => "Campo Obligatorio"   %>
              </div>
            </div>

            <div class="col-md-4">
              <label class="label">Cove</label>
              <div class="form-group">

                <%= f.input :cove,  :input_html => { :class => 'form-control', id: "cove" } ,  :required => true , placeholder: 'Campo Obligatorio', label: false  %>

              </div>
            </div>

            </div>

            <div class="row">
              <div class="col-md-4">
              <label class="label">Mobil/Servicio</label>
              <div class="form-group">
                  <%= f.input :mobiel_service,  :input_html => { :class => 'form-control', id: "mobiel_service" } ,  :required => true , placeholder: 'Campo Obligatorio', label: false  %>
              </div>
            </div>

            <div class="col-md-4">
              <label class="label">Tipo Servicio</label>
              <div class="form-group">
                    <%= f.input :type_service,
                    prompt:       'Campo Obligatorio',
                    collection: @clinic_history.select_type_service.sort,
                    error: false, label: false, 
                    input_html:   {class: 'form-control'}, 'aria-required' => 'true' %>

              </div>
            </div>
              <div class="col-md-4">
              <label class="label">Origen</label>
              <div class="form-group">
                      <%= f.input :origin,  :input_html => { :class => 'form-control', id: "origin" } ,  :required => true , placeholder: 'Campo Obligatorio', label: false  %>

              </div>
            </div>

            </div>



            <div class="row">

            <div class="col-md-4">
              <label class="label">Destino</label>
              <div class="form-group">
                        <%= f.input :destination,  :input_html => { :class => 'form-control', id: "destination" } ,  :required => true , placeholder: 'Campo Obligatorio', label: false  %>
              </div>
            </div>


              <div class="col-md-4">
              <label class="label">Empresa</label>

              <div class="form-group">

                          <%= f.input :company,  :input_html => { :class => 'form-control', id: "company" } ,  :required => true , placeholder: 'Campo Obligatorio', label: false  %>

              </div>
            </div>


              <div class="col-md-4">
              <label class="label">Nombre Acompañante</label>

              <div class="form-group">

                            <%= f.input :accompanist_name,  :input_html => { :class => 'form-control', id: "accompanist_name" } ,  :required => true , placeholder: 'Campo Obligatorio', label: false  %>


              </div>
            </div>

            </div>


            <div class="row">

              <div class="col-md-4">
                <label class="label">Parentesco</label>
                <div class="form-group">
                    <%= f.input :relationship,
                      prompt:       'Campo Obligatorio',
                      collection: @clinic_history.select_relationship.sort,
                      error: false, label: false, 
                      input_html:   {class: 'form-control'}, 'aria-required' => 'true' %>
                </div>
              </div>

              <div class="col-md-4">
                <label class="label">Motivo de Consulta</label>
                <div class="form-group">
                    <%= f.text_area :reason_for_consultation, :class => 'form-control', id: "reason_for_consultation" ,  :required => true , placeholder: 'Campo Obligatorio', label: false  %>
                </div>
              </div>

              <div class="col-md-4">
                <label class="label">Enfermedad Actual</label>
                <div class="form-group">
                    <%= f.text_area :current_illness, :class => 'form-control', id: "current_illness" ,  :required => true , placeholder: 'Campo Obligatorio', label: false  %>
                       
                </div>
              </div>
   
            </div>



            <div class="row">
              <div class="col-md-4">
                <div class="form-group">

    

                              <!-- Codigo que Duplica la información del Paciente -->
                              <%= f.hidden_field :first_name, :value => @patient.first_name %>
                              <%= f.hidden_field :second_name, :value => @patient.second_name %>
                              <%= f.hidden_field :first_surname, :value => @patient.first_surname %>
                              <%= f.hidden_field :second_surname, :value => @patient.second_surname %>
                              <%= f.hidden_field :email, :value => @patient.email %>
                              <%= f.hidden_field :type_document, :value => @patient.label_documento %>
                              <%= f.hidden_field :document, :value => @patient.document %>
                              <%= f.hidden_field :days_age, :value => @patient.days_age %>
                              <%= f.hidden_field :months_age, :value => @patient.months_age %>
                              <%= f.hidden_field :years_age, :value => @patient.years_age %>
                              <%= f.hidden_field :birthdate, :value => @patient.birthdate %>
                              <%= f.hidden_field :gender, :value => @patient.label_genre %>
                              <%= f.hidden_field :profession, :value => @patient.label_profession %>
                              <%= f.hidden_field :blood_type, :value => @patient.label_blood %>
                              <%= f.hidden_field :nacionality, :value => @patient.nacionality %>
                              <%= f.hidden_field :address, :value => @patient.address %>

                              <% f.hidden_field :user_id, :value => current_user.id %>




              </div>
            </div>

            </div>


<br/>
<br/>





            <div class="row  well pie_form">



        <div class="form-actions ">
              <div class="col-md-2">




                <%= link_to 'Ver Historias Clinicas' , patient_clinic_histories_path(@patient), :class => "btn btn-info color_blanco  pull-left" %> 


</div>


              <div class="col-md-5 col-md-push-8">

                <button type="reset" class="btn btn-default ">Borrar</button>

                <%= f.submit "Guardar", :class => 'btn btn-success  ' %>

          </div>


</div>


  </div>
</div>
            <% end %>




</div>



