<%- model_class = ClinicHistory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:department) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:cove) %></th>
      <th><%= model_class.human_attribute_name(:mobiel_service) %></th>
      <th><%= model_class.human_attribute_name(:airport) %></th>
      <th><%= model_class.human_attribute_name(:type_service) %></th>
      <th><%= model_class.human_attribute_name(:patient_id) %></th>
      <th><%= model_class.human_attribute_name(:origin) %></th>
      <th><%= model_class.human_attribute_name(:destination) %></th>
      <th><%= model_class.human_attribute_name(:company) %></th>
      <th><%= model_class.human_attribute_name(:accompanist_name) %></th>
      <th><%= model_class.human_attribute_name(:relationship) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:reason_for_consultation) %></th>
      <th><%= model_class.human_attribute_name(:current_illness) %></th>
      <th><%= model_class.human_attribute_name(:neunatales) %></th>
      <th><%= model_class.human_attribute_name(:neunatales_description) %></th>
      <th><%= model_class.human_attribute_name(:patologicos) %></th>
      <th><%= model_class.human_attribute_name(:patologicos_description) %></th>
      <th><%= model_class.human_attribute_name(:quirurgicos) %></th>
      <th><%= model_class.human_attribute_name(:quirurgicos_description) %></th>
      <th><%= model_class.human_attribute_name(:farmacologicos) %></th>
      <th><%= model_class.human_attribute_name(:farmacologicos_description) %></th>
      <th><%= model_class.human_attribute_name(:alergicos) %></th>
      <th><%= model_class.human_attribute_name(:alergicos_description) %></th>
      <th><%= model_class.human_attribute_name(:toxicos) %></th>
      <th><%= model_class.human_attribute_name(:toxicos_description) %></th>
      <th><%= model_class.human_attribute_name(:traumaticos) %></th>
      <th><%= model_class.human_attribute_name(:traumaticos_description) %></th>
      <th><%= model_class.human_attribute_name(:hospitables) %></th>
      <th><%= model_class.human_attribute_name(:hospitables_description) %></th>
      <th><%= model_class.human_attribute_name(:atep_laboral) %></th>
      <th><%= model_class.human_attribute_name(:atep_laboral_description) %></th>
      <th><%= model_class.human_attribute_name(:familiar) %></th>
      <th><%= model_class.human_attribute_name(:familiar_description) %></th>
      <th><%= model_class.human_attribute_name(:inmunologicos) %></th>
      <th><%= model_class.human_attribute_name(:inmunologios_description) %></th>
      <th><%= model_class.human_attribute_name(:asociado_viajes_de_vuelo) %></th>
      <th><%= model_class.human_attribute_name(:asociado_viajes_de_vuelo_description) %></th>
      <th><%= model_class.human_attribute_name(:menstrual_cycle) %></th>
      <th><%= model_class.human_attribute_name(:gestational_age) %></th>
      <th><%= model_class.human_attribute_name(:eco) %></th>
      <th><%= model_class.human_attribute_name(:fum) %></th>
      <th><%= model_class.human_attribute_name(:pregnancy) %></th>
      <th><%= model_class.human_attribute_name(:g) %></th>
      <th><%= model_class.human_attribute_name(:p) %></th>
      <th><%= model_class.human_attribute_name(:c) %></th>
      <th><%= model_class.human_attribute_name(:a) %></th>
      <th><%= model_class.human_attribute_name(:m) %></th>
      <th><%= model_class.human_attribute_name(:v) %></th>
      <th><%= model_class.human_attribute_name(:e) %></th>
      <th><%= model_class.human_attribute_name(:cardiovascular) %></th>
      <th><%= model_class.human_attribute_name(:cardiovascular_description) %></th>
      <th><%= model_class.human_attribute_name(:respiratory) %></th>
      <th><%= model_class.human_attribute_name(:respiratory_description) %></th>
      <th><%= model_class.human_attribute_name(:abdominal) %></th>
      <th><%= model_class.human_attribute_name(:abdominal_description) %></th>
      <th><%= model_class.human_attribute_name(:genito_urinario) %></th>
      <th><%= model_class.human_attribute_name(:genito_urinario_description) %></th>
      <th><%= model_class.human_attribute_name(:neurological) %></th>
      <th><%= model_class.human_attribute_name(:neurological_description) %></th>
      <th><%= model_class.human_attribute_name(:mental) %></th>
      <th><%= model_class.human_attribute_name(:mental_description) %></th>
      <th><%= model_class.human_attribute_name(:sense_organ) %></th>
      <th><%= model_class.human_attribute_name(:sense_organ_description) %></th>
      <th><%= model_class.human_attribute_name(:skeletal_muscle) %></th>
      <th><%= model_class.human_attribute_name(:skeletal_muscle_description) %></th>
      <th><%= model_class.human_attribute_name(:skin_and_appendages) %></th>
      <th><%= model_class.human_attribute_name(:skin_and_appendages_description) %></th>
      <th><%= model_class.human_attribute_name(:ta_mmgh) %></th>
      <th><%= model_class.human_attribute_name(:heart_rate) %></th>
      <th><%= model_class.human_attribute_name(:breathing_frequency) %></th>
      <th><%= model_class.human_attribute_name(:sat_of_o_ambiente) %></th>
      <th><%= model_class.human_attribute_name(:sat_of_o_supplementary) %></th>
      <th><%= model_class.human_attribute_name(:temperature) %></th>
      <th><%= model_class.human_attribute_name(:weight_in_kilograms) %></th>
      <th><%= model_class.human_attribute_name(:height_in_centimeters) %></th>
      <th><%= model_class.human_attribute_name(:glucose) %></th>
      <th><%= model_class.human_attribute_name(:measurement) %></th>
      <th><%= model_class.human_attribute_name(:head) %></th>
      <th><%= model_class.human_attribute_name(:head_description) %></th>
      <th><%= model_class.human_attribute_name(:neck) %></th>
      <th><%= model_class.human_attribute_name(:neck_description) %></th>
      <th><%= model_class.human_attribute_name(:rib_cage) %></th>
      <th><%= model_class.human_attribute_name(:rib_cage_description) %></th>
      <th><%= model_class.human_attribute_name(:heart) %></th>
      <th><%= model_class.human_attribute_name(:heart_description) %></th>
      <th><%= model_class.human_attribute_name(:lungs) %></th>
      <th><%= model_class.human_attribute_name(:lungs_description) %></th>
      <th><%= model_class.human_attribute_name(:abdomen) %></th>
      <th><%= model_class.human_attribute_name(:abdomen_description) %></th>
      <th><%= model_class.human_attribute_name(:genitourinary) %></th>
      <th><%= model_class.human_attribute_name(:genitourinary_description) %></th>
      <th><%= model_class.human_attribute_name(:rectum) %></th>
      <th><%= model_class.human_attribute_name(:rectum_description) %></th>
      <th><%= model_class.human_attribute_name(:extremities) %></th>
      <th><%= model_class.human_attribute_name(:extremities_description) %></th>
      <th><%= model_class.human_attribute_name(:alteration) %></th>
      <th><%= model_class.human_attribute_name(:eye_opening) %></th>
      <th><%= model_class.human_attribute_name(:verbal_answer) %></th>
      <th><%= model_class.human_attribute_name(:motor_response) %></th>
      <th><%= model_class.human_attribute_name(:other_signs) %></th>
      <th><%= model_class.human_attribute_name(:analysis) %></th>
      <th><%= model_class.human_attribute_name(:print_diagnosed) %></th>
      <th><%= model_class.human_attribute_name(:plan_and_treatment) %></th>
      <th><%= model_class.human_attribute_name(:observations_recommendations) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @clinic_histories.each do |clinic_history| %>
      <tr>
        <td><%= clinic_history.city %></td>
        <td><%= clinic_history.department %></td>
        <td><%= clinic_history.user_id %></td>
        <td><%= clinic_history.cove %></td>
        <td><%= clinic_history.mobiel_service %></td>
        <td><%= clinic_history.airport %></td>
        <td><%= clinic_history.type_service %></td>
        <td><%= clinic_history.patient_id %></td>
        <td><%= clinic_history.origin %></td>
        <td><%= clinic_history.destination %></td>
        <td><%= clinic_history.company %></td>
        <td><%= clinic_history.accompanist_name %></td>
        <td><%= clinic_history.relationship %></td>
        <td><%= clinic_history.phone %></td>
        <td><%= clinic_history.reason_for_consultation %></td>
        <td><%= clinic_history.current_illness %></td>
        <td><%= clinic_history.neunatales %></td>
        <td><%= clinic_history.neunatales_description %></td>
        <td><%= clinic_history.patologicos %></td>
        <td><%= clinic_history.patologicos_description %></td>
        <td><%= clinic_history.quirurgicos %></td>
        <td><%= clinic_history.quirurgicos_description %></td>
        <td><%= clinic_history.farmacologicos %></td>
        <td><%= clinic_history.farmacologicos_description %></td>
        <td><%= clinic_history.alergicos %></td>
        <td><%= clinic_history.alergicos_description %></td>
        <td><%= clinic_history.toxicos %></td>
        <td><%= clinic_history.toxicos_description %></td>
        <td><%= clinic_history.traumaticos %></td>
        <td><%= clinic_history.traumaticos_description %></td>
        <td><%= clinic_history.hospitables %></td>
        <td><%= clinic_history.hospitables_description %></td>
        <td><%= clinic_history.atep_laboral %></td>
        <td><%= clinic_history.atep_laboral_description %></td>
        <td><%= clinic_history.familiar %></td>
        <td><%= clinic_history.familiar_description %></td>
        <td><%= clinic_history.inmunologicos %></td>
        <td><%= clinic_history.inmunologios_description %></td>
        <td><%= clinic_history.asociado_viajes_de_vuelo %></td>
        <td><%= clinic_history.asociado_viajes_de_vuelo_description %></td>
        <td><%= clinic_history.menstrual_cycle %></td>
        <td><%= clinic_history.gestational_age %></td>
        <td><%= clinic_history.eco %></td>
        <td><%= clinic_history.fum %></td>
        <td><%= clinic_history.pregnancy %></td>
        <td><%= clinic_history.g %></td>
        <td><%= clinic_history.p %></td>
        <td><%= clinic_history.c %></td>
        <td><%= clinic_history.a %></td>
        <td><%= clinic_history.m %></td>
        <td><%= clinic_history.v %></td>
        <td><%= clinic_history.e %></td>
        <td><%= clinic_history.cardiovascular %></td>
        <td><%= clinic_history.cardiovascular_description %></td>
        <td><%= clinic_history.respiratory %></td>
        <td><%= clinic_history.abdominal %></td>
        <td><%= clinic_history.abdominal_description %></td>
        <td><%= clinic_history.genito_urinario %></td>
        <td><%= clinic_history.genito_urinario_description %></td>
        <td><%= clinic_history.neurological %></td>
        <td><%= clinic_history.neurological_description %></td>
        <td><%= clinic_history.mental %></td>
        <td><%= clinic_history.mental_description %></td>
        <td><%= clinic_history.sense_organ %></td>
        <td><%= clinic_history.sense_organ_description %></td>
        <td><%= clinic_history.skeletal_muscle %></td>
        <td><%= clinic_history.skeletal_muscle_description %></td>
        <td><%= clinic_history.skin_and_appendages %></td>
        <td><%= clinic_history.skin_and_appendages_description %></td>
        <td><%= clinic_history.ta_mmgh %></td>
        <td><%= clinic_history.heart_rate %></td>
        <td><%= clinic_history.breathing_frequency %></td>
        <td><%= clinic_history.sat_of_o_ambiente %></td>
        <td><%= clinic_history.sat_of_o_supplementary %></td>
        <td><%= clinic_history.temperature %></td>
        <td><%= clinic_history.height_in_centimeters %></td>
        <td><%= clinic_history.glucose %></td>
        <td><%= clinic_history.measurement %></td>
        <td><%= clinic_history.head %></td>
        <td><%= clinic_history.head_description %></td>
        <td><%= clinic_history.neck %></td>
        <td><%= clinic_history.neck_description %></td>
        <td><%= clinic_history.rib_cage %></td>
        <td><%= clinic_history.rib_cage_description %></td>
        <td><%= clinic_history.heart %></td>
        <td><%= clinic_history.heart_description %></td>
        <td><%= clinic_history.lungs %></td>
        <td><%= clinic_history.lungs_description %></td>
        <td><%= clinic_history.abdomen %></td>
        <td><%= clinic_history.abdomen_description %></td>
        <td><%= clinic_history.genitourinary %></td>
        <td><%= clinic_history.genitourinary_description %></td>
        <td><%= clinic_history.rectum %></td>
        <td><%= clinic_history.rectum_description %></td>
        <td><%= clinic_history.extremities %></td>
        <td><%= clinic_history.extremities_description %></td>
        <td><%= clinic_history.alteration %></td>
        <td><%= clinic_history.eye_opening %></td>
        <td><%= clinic_history.verbal_answer %></td>
        <td><%= clinic_history.motor_response %></td>
        <td><%= clinic_history.other_signs %></td>
        <td><%= clinic_history.analysis %></td>
        <td><%= clinic_history.print_diagnosed %></td>
        <td><%= clinic_history.plan_and_treatment %></td>
        <td><%= clinic_history.observations_recommendations %></td>
        <td><%=l clinic_history.created_at %></td>
        <td>
   
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_patient_clinic_history_path,
            :class => 'btn btn-primary' %>
