









<div class="container-fluid">    
        
    <div id="loginbox" class="mainbox col-md-12 col-sm-12"> 
        

    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Roboto);
        @import url(https://fonts.googleapis.com/css?family=Montserrat);
        .panel-heading {
            background-image: none;
            background-color: #ECECEC;
            color: #5bc0de;
            font-family: 'Roboto', sans-serif;
        }

          .panel-title{
            font-size: 30px;   
          }
          .pie_form{
            background-image: none;
            background-color: #ECECEC;
            color: white;   
          }
          .line1
          {
            display: inline-block;
            width: 30% !important;
          }
    </style>




<div class="container-fluid navbar navbar-default" style = "margin-bottom:0px!importan">
  <div class="row">
<%= form_for([@paciente, @historia_clinica]) do |f| %>



  <% if @historia_clinica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historia_clinica.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @historia_clinica.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="container" style="margin-top:10px; margin-bottom:-8px;">
        <div class="centered title"> <h1 style=" font-size:25px;"> <span style = "margin-right:10px;"class="glyphicon glyphicon-user"></span> DATOS GENERALES</h1></div>
     </div>
     <hr class="featurette-divider"></hr>
         
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

          <div class="col-md-3">
              <label>Auxiliar:</label> 



              <%= f.text_field :auxiliar, class: 'form-control' , placeholder: 'Campo Obligatorio', label: false  %>

          </div>




          <div class="col-md-3">
              <label>Aeropuerto:</label> 


              <%= f.collection_select :aeropuerto_id, Aeropuerto.all, :id, :nombre, {prompt: "Campo Obligatorio"}, {class: "form-control"} %>

          </div>

          <div class="col-md-3">
              <label>Cove:</label> 
              <%= f.text_field :cove, class: 'form-control', placeholder: 'Campo Obligatorio', label: false  %>


          </div>
         

          <div class="col-md-3">
              <label>Movil/Servicio:</label> 
              <%= f.text_field :mobiel_service, class: 'form-control', placeholder: 'Campo Obligatorio', label: false  %>
          </div>
        </div>

        <br/>
        <br/>        <br/>
        <br/>        <br/>


    </div>
</div>















<div class="container" style="margin-top:10px; margin-bottom:-8px;">
        <div class="centered title"> <h1 style=" font-size:25px;"> <span style = "margin-right:10px;"class="glyphicon glyphicon-user"></span>  1 IDENTIFICACIÓN DEL PACIENTE</h1></div>
     </div>
     <hr class="featurette-divider"></hr>
         



<div class="container-fluid">
    <div class="row">




          <div class="col-md-4">
              <label>Condición:</label> 
              <%= f.select :condicion, [ 'Pasajero', 'Tripulante', 'Empleado', 'Visitante', 'Otro' ], {prompt: "Campo Obligatorio"},  {class: "form-control"} %>

          </div>






          <div class="col-md-4">
              <label>Tipo Servicio:</label> 
                    <%= f.select :type_service, [ 'Atención prehospitalaria', 'Valoración aptitud de vuelo', 'Enfermedad general', 'Evento laboral', 'Accidente de transito', 'Traslado', 'Otro tipo de accidente', 'Remisión'], {prompt: "Campo Obligatorio"},  {class: "form-control"} %>
          </div>
          <div class="col-md-4">

              <label>Empresa:</label> 

              <%= f.collection_select :company, Empresa.all, :nombre, :nombre, {prompt: "Campo Obligatorio"}, {class: "form-control"} %>


          </div>


          
        </div>

        <br/>
   
    <div class="row">




          <div class="col-md-4">

          <label>Lugar de Atención:</label> 
              <%= f.select :lugar_de_atencion, [ 'Interno(Sanidad)', 'Externo' ], {prompt: "Campo Obligatorio"}, {class: "form-control"}  %>
          </div>


          <div class="col-md-4">


 <label>Origen:</label> 
                  <%= f.collection_select :origin, Ciudad.all, :nombre, :nombre, {prompt: "Campo Obligatorio"}, {class: "form-control"} %>
                  </div>

          <div class="col-md-4">
              <label>Destino:</label> 
                  <%= f.collection_select :destination, Ciudad.all, :nombre, :nombre, {prompt: "Campo Obligatorio"}, {class: "form-control"} %>


          </div>
           </div>

             
     <br/>
    <div class="row">

          <div class="col-md-4">
              <label>Nombre Acompañante:</label> 
                <%= f.text_field :nombre_acompañante, :class => 'form-control', id: "accompanist_name"  , placeholder: 'Campo Obligatorio', label: false  %>
          </div>
          <div class="col-md-4">
              <label>Selecciona el parentesco:</label> 

                <%= f.text_field :relationship, :class => 'form-control', id: "accompanist_name"   , placeholder: 'Campo Obligatorio', label: false  %>

          </div>
<div class="col-md-4">
              <label>Telefono Acompañante:</label> 
                <%= f.text_field :phone, :class => 'form-control' , placeholder: 'Campo Obligatorio', label: false  %>

          </div>
          
         
        </div>
                <br/>
        
        <div class="col-md-12">

                    <div class="col-md-4">
                        <label>Arl:</label> 
                        <%= f.collection_select :arl_id, Arl.all, :id, :nombre, {prompt: "Selecciones una Arl"}, {class: "form-control arl habilitado"} %>
                    </div>



                  <div class="col-md-4">

              <label for="chkPassport" style="margin-top:30px;">
                  <input type="checkbox" id="chkPassport" />
                 La Arl no esta registrada?
              </label>

                  </div>

              <div id="dvPassport" style="display: none">

                  <%= f.simple_fields_for :arl do |builder| %>
              <%#= builder.label :account_type %>

                  <div class="col-md-4">
                    <label class="label">Nueva Arl</label>
                    <div class="form-group">
                      <%= builder.text_field :nombre, class: 'form-control' %>
                    </div>
                  </div>



              <%#= builder.label :account_number %>
              <% end %>


              </div>

         </div>

        <br/>
        <br/>        <br/>
        <br/>
 

        <div class="col-md-12">
          

              <div class="col-md-4">
                  <label>Eps:</label> 
                  <%= f.collection_select :eps_id, Eps.all, :id, :nombre, {prompt: "Selecciones una Eps"}, {class: "form-control eps"} %>
              </div>




                  <div class="col-md-4">

              <label for="chkPassport2">
                  <input type="checkbox" id="chkPassport2"  style="margin-top:30px;"/>
                 La Eps no esta registrada?
              </label>

                  </div>

              <div id="dvPassport2" style="display: none">

                  <%= f.simple_fields_for :eps do |builder| %>
              <%#= builder.label :account_type %>

                  <div class="col-md-4">
                    <label class="label">Nueva Eps</label>
                    <div class="form-group">
                      <%= builder.text_field :nombre, class: 'form-control' %>
                    </div>
                  </div>



              <%#= builder.label :account_number %>
              <% end %>


              </div>







        </div>


        <br/>
        <br/> 




               <br/>
        <br/>







<div class="container" style="margin-top:10px; margin-bottom:-8px;">
        <div class="centered title"> <h1 style=" font-size:25px;"> <span style = "margin-right:10px;"class="glyphicon glyphicon-user"></span> 2 MOTIVO DE LA CONSULTA</h1></div>
     </div>
     <hr class="featurette-divider"></hr>
         
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

          <div class="col-md-12">

                <%= f.text_area :reason_for_consultation, :class => 'form-control', id: "reason_for_consultation"  , placeholder: 'Campo Obligatorio', label: false  %>

          </div>
        </div>
        <br/>
        <br/>        <br/>
        <br/>        <br/>
    </div>
</div>


<div class="container" style="margin-top:10px; margin-bottom:-8px;">
        <div class="centered title"> <h1 style=" font-size:25px;"> <span style = "margin-right:10px;"class="glyphicon glyphicon-user"></span>3 ENFERMEDAD ACTUAL</h1></div>
     </div>
     <hr class="featurette-divider"></hr>
         




<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

          <div class="col-md-12">

              <%= f.text_area :current_illness, :class => 'form-control', id: "current_illness", placeholder: 'Campo Obligatorio', label: false  %>
          </div>
        </div>
        <br/>
        <br/>        <br/>
        <br/>        <br/>
    </div>
</div>





<%= f.hidden_field :primer_nombre, :value => @paciente.primer_nombre %>
<%= f.hidden_field :segundo_nombre, :value => @paciente.segundo_nombre %>
<%= f.hidden_field :primer_apellido, :value => @paciente.primer_apellido %>
<%= f.hidden_field :segundo_apellido, :value => @paciente.segundo_apellido %>
<%= f.hidden_field :email, :value => @paciente.email %>
<%= f.hidden_field :tipo_documento, :value => @paciente.tipo_documento %>
<%= f.hidden_field :documento, :value => @paciente.documento %>
<%= f.hidden_field :fecha_nacimiento, :value => @paciente.fecha_nacimiento %>
<%= f.hidden_field :genero, :value => @paciente.genero %>
<%= f.hidden_field :profesion, :value => @paciente.profesion %>
<%= f.hidden_field :tipo_sangre, :value => @paciente.tipo_sangre %>
<%= f.hidden_field :nacionalidad, :value => @paciente.nacionalidad %>
<%= f.hidden_field :direccion, :value => @paciente.direccion %>











         <div class="well pie_form">

                <div class="form-actions"  style = "text-align:center!important"> 



                        <%= f.submit "Siguiente", :class => 'btn btn btn-info  custom' %>

                </div>
              </div>


  </div>
</div>






            <% end %>




</div>

















<script type="text/javascript">






jQuery(document).ready(function() {
   jQuery("#select").change(function() {
      if(jQuery(this).find("option:selected").val() == "Empleado" ) {
         jQuery(".habilitado").prop('disabled', false);
      }
      else if (jQuery(this).find("option:selected").val() != "Empleado" ) {
         jQuery(".habilitado").prop('disabled', true);
      }
   });

  jQuery("#select").change(function() {
      if(jQuery(this).find("option:selected").val() == "Pasajero" ) {
         jQuery(".habilitado").prop('disabled', false);
      }


   });



});


// Ocultar la arl para pasajero
$(document).ready(function() {
$('#disabled_input').attr('disabled','disabled');        
$('select[name="historia_clinica[condicion]"]').on('change',function(){
var  others = $(this).val();
    if(others == "2"){           
    $('#disabled_input').removeAttr('disabled');          
     }else{
     $('#disabled_input').attr('disabled','disabled'); 
    }  

  });
});



// Seleccionar una arl sin registrar una nueva
$('.arl').change(function(e) {
  if ($(this).prop("selectedIndex") != 0)
    {
        $('#chkPassport').prop('disabled', true);  
    }
    else
    {
        $('#chkPassport').prop('disabled', false);
    }
});



// Seleccionar una eps sin registrar una nueva
$('.eps').change(function(e) {
  if ($(this).prop("selectedIndex") != 0)
    {
        $('#chkPassport2').prop('disabled', true);  
    }
    else
    {
        $('#chkPassport2').prop('disabled', false);
    }
});

// Mostrar los Checkbox para agregar
    $(function () {
        $("#chkPassport").click(function () {
            if ($(this).is(":checked")) {
                $(".arl").prop('disabled', true);
                $("#dvPassport").show();
            } else {
                $(".arl").prop('disabled', false);
                $("#dvPassport").hide();
            }
        });
    });

    $(function () {
        $("#chkPassport2").click(function () {
            if ($(this).is(":checked")) {
                $(".eps").prop('disabled', true);              
                $("#dvPassport2").show();
            } else {
                $(".eps").prop('disabled', false);                            
                $("#dvPassport2").hide();
            }
        });
    });

</script>














<div class="container-fluid">    
        
    <div id="loginbox" class="mainbox col-md-12 col-sm-12"> 
        

    <style type="text/css">
       


        @import url(https://fonts.googleapis.com/css?family=Roboto);
        @import url(https://fonts.googleapis.com/css?family=Montserrat);
       


        #current_illness{
          width: 870px !important;
        }
        #reason_for_consultation{
          width: 870px !important;
        }

        .panel-heading {
            background-image: none;
            background-color: #ECECEC;
            color: #5bc0de;
            font-family: 'Roboto', sans-serif;
        }

          .panel-title{
            font-size: 30px;   
          }
          .pie_form{
            background-image: none;
            background-color: #ECECEC;
            color: white;   
          }
          .line1
          {
            display: inline-block;
            width: 30% !important;
          }
    </style>


