











<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container-fluid">
    

    <div class="omb_login">
        <h3 class="omb_authTitle">Historia Clinica de <a href="#"><%= @paciente.primer_nombre %> <%= @paciente.primer_apellido %></a></h3>
      <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-4 col-sm-2">
              <%= link_to 'Regresar' , paciente_historias_clinicas_path(@paciente), :class => "btn btn-lg btn-block  omb_btn-facebook" %> 
            </div>
            <div class="col-xs-4 col-sm-2">
              <%= link_to 'Imprimir Pdf', paciente_historias_clinicas_path(@paciente, @historia_clinica, :format => "pdf"), target: '_blank',  :rel => "tooltip", :title => "Pdf", :class => 'btn btn-lg btn-block omb_btn-twitter' %>
            </div>  
            <div class="col-xs-4 col-sm-2">
              <a class="btn btn-lg btn-block omb_btn-google">Imprimit Csv</a>
            </div>  
      </div>

        
    </div>

</div>


<style type="text/css">
  
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
  line-height: 300%;
}
  
.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg 
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
  opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}     

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}
.btn-block{
  background-color: #5bc0de !important;
}
  
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
    margin-top:10px;
  }   
}
</style>
<br/>








<div class="container-fluid">
    <div class="row clearfix">
    <div class="col-md-12 column">
<table  class="table table-bordered table-hover" id="tab_logic">
  
  <tr>
      <td rowspan="2"  style="width:10%">
      <%= link_to image_tag('Logo/logo.png',:size => "140x60", :class =>"ember-view "), root_path %>
  </td>

    <td colspan="2" class="text-center">HISTORIA CLINICA</td>
    <td>
      Fecha: 20/11/2013<br>
    </td>
  </tr>
  <tr>
    <td>Fecha y hora de Di</td>
    <td>Savings</td>
    <td>Revision 11-13</td>
  </tr>
  <tr>
    <td>February</td>
    <td>$80</td>
    <td>$80</td>
    <td>$80</td>
  </tr>
</table>
  </div>
  </div>
  </div>    















<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->

<div class="container-fluid">
    <div class="row profile well">
    <div class="col-md-12">



<div class="col-md-12" style = "margin:15px!important;text-align:center;">




    <%= link_to 'Volver a Historias Clinicas' , paciente_historias_clinicas_path(@paciente), :class => "btn btn-info color_blanco mrg" %> 


  <%= link_to 'Imprimir Pdf', paciente_historias_clinicas_path(@paciente, @historia_clinica, :format => "pdf"), target: '_blank',  :rel => "tooltip", :title => "Pdf", :class => 'btn btn-info color_blanco mrg' %>

    <a class="btn btn-info color_blanco mrg ">Imprimit Csv</a>


</div>

    <div class="row col-md-12 custyle">
    <table class="table table-bordered">
              <tr>
                <th rowspan = "3"style="width:25%;">
                 <%= link_to image_tag('Logo/logo.png',:size => "160x80", :class =>"ember-view "), root_path %>           
                </th>
                <th style="width:50%;" colspan="2">
                 HISTORIA CLINICA             
                </th>
                <th style="width:30%;text-align:center;font-size:12px">
                  Fecha: 20/11/2013<br>
                  Revision 11-13            
                </th>
              </tr>
              <tr>
               
               
                 <th style="width:30%;">
                 FECHA         
                </th>
                <th style="width:30%;">
                  HORA MILITAR:             
                </th>
                 <th style="width:20%;text-align:center;font-size:12px">
                  F GS 0RR <br>
                  Version 5            
                </th>
              </tr>
               <tr>
               
               
                 <th colspan = "3" style="width:100%;">
                 fDATOS GENERALES          
                </th>
                
              </tr>


    </table>
    </div>
</div>



      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          HISTORIA CLINICA 
        </div>
      </div>
                   







<div class="container-fluid">
    <div class="row col-md-12 custyle">
    <table class="table table-striped custab table-bordered">
              <tr >
                <th style="width:25%;">
                  Fecha:             
                </th>
                <td style="width:25%;">
                  <%= @historia_clinica.created_at.strftime('%b %d. %Y') %>
                </td>
                <th style="width:25%;">
                  Hora:           
                </th>
                <td>
                  <%= @historia_clinica.created_at.strftime("%H:%M") %>
                </td>
              </tr>  

              <tr>
              <th style="width:25%;">
                  Ciudad:            
                </th>
                <td>
                </td>

                <th style="width:25%;" >
                  Departamento:       
                </th>
                <td>
                  <%= @historia_clinica %>
                </td>
              </tr>
    </table>
    </div>
</div>







      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
DATOS GENERALES
        </div>
      </div>






<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">

              <tr >
                <th style="width:25%;">
                  Medico de Turno:        
                </th>
                <td  style="width:25%;">
                </td>
                <th  style="width:25%;">
                  Auxiiar de enfermeria:   
                </th>
                <td  style="width:25%;">
                  No Aplica
                </td>

                
              </tr>  



        



              <tr >
                <th  style="width:25%;">
                  <b>Cove:             
                </th>
                <td  style="width:25%;">
                  <%= @historia_clinica %>
                </td>

                <th  style="width:25%;">
                    Movil/Servicio:    
                </th>
                <td  style="width:25%;">
                  <%= @historia_clinica %>
                </td>
                 

                </tr>



                <tr>
                   <th style="width:25%;">
                    Aeropuerto: 
                  </th>
                  <td style="width:25%;">
                  </td>
                  <th style="width:25%;">
                    Ubicación: 
                  </th>
                  <td style="width:25%;">
                    No Aplica
                  </td>
                </tr> 

                <tr>
                   <th style="width:25%;">
                    Tipo se servicio Solicitado:  
                  </th>
                  <td style="width:25%;">
                    <%= @historia_clinica %>
                  </td>
                </tr>


            
    </table>
    </div>
</div>





















      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
I. IDENTIFICACIÓN DEL PACIENTE
        </div>
      </div>


<div class="container-fluid">
    <div class="row col-md-12 custyle">
    <table class="table table-striped custab table-bordered">

                
              <tbody>
                <tr >
                  <th style="width:25%;">
                    Nombres:   
                  </th>
                   <td  style="width:25%;">
                     <%= @historia_clinica %> <%= @historia_clinica %>
                  </td>
                  <th  style="width:25%;">
                    Apellidos: 
                  </th>
                  <td  style="width:25%;">
                    <%= @historia_clinica %> <%= @historia_clinica %>
                  </td>

                </tr>                             






              </tbody>



            </table>
            </div>
  </div>






      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
II. MOTIVO DE CONSULTA
        </div>
      </div>






<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">

              <tr >
                <td >
                </td>


                
              </tr>  




            
    </table>
    </div>
</div>







<div class="profile-usertitle">
  <div class="profile-usertitle-name">
III. ENFERMEDAD ACTUAL
  </div>
</div>

<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">
        <tr >
          <td >
          </td>
        </tr>  
    </table>
    </div>
</div>








<div class="profile-usertitle">
  <div class="profile-usertitle-name">
IV. ANTECEDENTES PERSONALES
  </div>
</div>

<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">




    </table>

    <table class="table table-striped custab table-bordered">



    </table>
    </div>
</div>











<div class="profile-usertitle">
  <div class="profile-usertitle-name">
V. REVISIÓN POR SISTEMAS
  </div>
</div>

<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">



    </table>
    </div>
</div>



















<div class="profile-usertitle">
  <div class="profile-usertitle-name">
VI.  EXAMEN FISICO
  </div>
</div>

<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">
       
      


    </table>
    </div>
</div>






<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">





    </table>
    </div>
</div>







<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">


    </table>
    </div>
</div>

















<div class="profile-usertitle">
  <div class="profile-usertitle-name">
VI.  IMPRESIÓN DIAGNOSTICA
  </div>
</div>




<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">






        <tr>

          <th>
Plan y Tratamiento
          </th>
          <td  colspan="3">
          </td>

</tr>




       


    </table>
    </div>
</div>
</div>



  </div>


<br>
<br>

<style type="text/css">

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  color: #5b9bd1;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
</style>












