





<h1>

<% #Diagnostico.where(:cie10_id => 2).count %>

<% #@diagnosticos.each do |f|  %>
  
  <% # if f.cie10.familia == "Enfermedades infecciosas y parasitarias." %>
<% #@alejo = @alejo + 1  %>



<% # end %>
<% #end %>

</h1>

<% #@alejo  %>




<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->





<div class="container-fluid">
    <div class="col-md-12 column col-md-offset-3">

    <%= link_to 'Volver a Historias Clinicas' , paciente_historias_clinicas_path(@paciente), :class => "btn btn-info color_blanco mrg" %> 


  <%= link_to 'Imprimir Pdf', paciente_historias_clinicas_path(@paciente, @historia_clinica, :format => "pdf"), target: '_blank',  :rel => "tooltip", :title => "Pdf", :class => 'btn btn-info color_blanco mrg' %>

    <a class="btn btn-info color_blanco mrg ">Imprimit Csv</a>
</div>
    </div>
    <br/>
<div class="container-fluid">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="tab_logic">
              <tr  style="height:20px;">
                <th rowspan = "4"style="width:20%;">
                 <%= link_to image_tag('Logo/logo.png',:size => "200x120", :class =>"ember-view "), root_path %>           
                </th>
                <th style="width: 50%;  text-align:center;" colspan="2" >
                 HISTORIA CLINICA             
                </th>
                <th style="width:30%;text-align:center;font-size:12px; height:10px;">
                  Fecha: <%= Time.now.strftime("%d-%m-%Y") %><br>
                </th> 

              </tr>
              <tr>
               
               
                 <th style="width:30%;">
                 FECHA:  <%= @historia_clinica.created_at.strftime('%b %d. %Y') %>
                </th>
                <th style="width:30%;">
                  HORA MILITAR: <%= @historia_clinica.created_at.strftime("%H:%M") %>
                </th>
                 <th style="width:20%;text-align:center;font-size:12px">
                  Revisión 11 - 13           
                </th>
              </tr>



               <tr>
               
               
                         
                 <th colspan = "2" style="width:85%;text-align:center;" rowspan="2">
                 DATOS GENERALES          
                </th>


                 <th style="width:20%;text-align:center;font-size:12px">
                  F GS 033           
                </th>
       
                
                 
              </tr>

              <tr >
                         <th  colspan = "3" style="width:15%;text-align:center;font-size:12px">
                  Version 5            
                </th>
              </tr>


    </table>
    </div>
</div>

</div>





      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
DATOS GENERALES
        </div>
      </div>




<div class="container-fluid">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="tab_logic">

              <tr >
                <td style="width:25%;">
                  <b>Movil/Servicio:</b>        
                </td>
                <td style="width:25%;">
                <%= @historia_clinica.a_movil_servicio %> 
                </td>
                <td  style="width:25%;">
                  <b>Conductor/Comandante:</b>   
                </td>
                <td  style="width:25%;">
                <%= @historia_clinica.a_cove  %></td>
                
    

              </tr>  


              <tr >

            <td style="width:10%;">
                  <b>Ciudad:</b>        
                </td>
                <td  style="width:10%;">
                <%= @historia_clinica.a_movil_servicio %> 
                </td>

                <td  style="width:5%;">
                  <b>Departamento:</b>   
                </td>
                <td  style="width:10%;">
                <%= @historia_clinica.aeropuerto.departamento  %></td>

                
                 

                </tr>



                

                <tr>
                  <td >
                <b>Medico de Turno:</b>             
                </td>
                <td>
                <%=  @historia_clinica.user.nombre_usuario %>
                </td>

                <td>
                  <b>Aeropuerto:</b>    
                </td>
                <td >
                  <%=  @historia_clinica.aeropuerto.nombre %>                
                </td>
                </tr>

                

                <tr>
                  <td >
                <b>Empresa:</b>             
                </td>
                <td>
                <%=  @historia_clinica.a_empresa %>
                </td>

                <td>
                 <b> Auxiliar de Enfermería: </b>   
                </td>
                <td >
                  <%=  @historia_clinica.a_auxiliar %>                
                </td>
                </tr>


                <tr>
                  <td >
                <b>Tipo de Servicio:</b>             
                </td>
                <td>
                <%=  @historia_clinica.a_tipo_servicio %>
                </td>

                
                </tr>
            
    </table>
    </div>
</div>

</div>



















      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
I. IDENTIFICACIÓN DEL PACIENTE
        </div>
      </div>


<div class="container-fluid">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="tab_logic">

                <tr>
                  <td  style="width:15%;">
                  <b>Nombre Completo:</b>             
                  </td>
                  <td  style="width:85%;">
                  <%= @historia_clinica.p_primer_nombre %> <%= @historia_clinica.p_segundo_nombre %> <%= @historia_clinica.p_primer_apellido %> <%= @historia_clinica.p_segundo_apellido %>
                  </td>
                </tr>

            </table>

      <table class="table table-bordered table-hover" id="tab_logic" style="margin-top:-20px;">

                <tr>
                  <td  style="width:25%;">
                  <b>Origen:</b>             
                  </td>
                  <td  style="width:25%;">
                  <%= @historia_clinica.a_origen %>
                  </td>
                 
                  <td  style="width:25%;">
                  <b>Destino:</b>             
                  </td>
                  <td  style="width:25%;">
                  <%= @historia_clinica.a_destino %>
                  </td>
                </tr>


                <tr>
                  <td  style="width:25%;">
                  <b>Tipo de Documento:</b>             
                  </td>
                  <td  style="width:25%;">
                  <%= @historia_clinica.p_tipo_documento %>
                  </td>
                 
                  <td  style="width:25%;">
                  <b>Documento:</b>             
                  </td>
                  <td  style="width:25%;">
                  <%= @historia_clinica.p_documento %>
                  </td>
                </tr>



                <tr>
                  <td  style="width:25%;">
                  <b>Genero:</b>             
                  </td>
                  <td  style="width:25%;">
                  <%= @historia_clinica.p_genero %>
                  </td>
                 
                  <td  style="width:25%;">
                  <b>Email:</b>             
                  </td>
                  <td  style="width:25%;">
                  <%= @historia_clinica.p_email %>
                  </td>
                </tr>



                <tr>
                  <td  style="width:25%;">
                  <b>Profesion:</b>             
                  </td>
                  <td  style="width:25%;">
                  <%= @historia_clinica.p_profesion %>
                  </td>
                 
                  <td  style="width:25%;">
                  <b>Fecha de nacimiento:</b>             
                  </td>
                  <td  style="width:25%;">
                  <%= @historia_clinica.p_fecha_nacimiento %>
                  </td>
                </tr>


                <tr>
                  <td  style="width:25%;">
                  <b>Tipo de Sangre:</b>             
                  </td>
                  <td  style="width:25%;">
                  <%= @historia_clinica.p_tipo_sangre %>
                  </td>
                 
                  <td  style="width:25%;">
                  <b>Nacionalidad:</b>             
                  </td>
                  <td  style="width:25%;">
                  <%= to_country_code(@historia_clinica.p_nacionalidad) %>
                  </td>
                </tr>

                <tr>
                  <td  style="width:25%;">
                  <b>Direccion:</b>             
                  </td>
                  <td  style="width:25%;">
                  <%= @historia_clinica.p_direccion %>
                  </td>
   
                </tr>



            </table>





            </div>
  </div>
 </div>








      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
II. MOTIVO DE CONSULTA
        </div>
      </div>







<div class="container-fluid">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="tab_logic">

            <tr>
        
              <td >
                <%= @historia_clinica.a_motivo_de_consulta %>
              </td>

            </tr>


            
    </table>
    </div>
</div>
</div>







<div class="profile-usertitle">
  <div class="profile-usertitle-name">
III. ENFERMEDAD ACTUAL
  </div>
</div>

<div class="container-fluid">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="tab_logic">
            <tr>
              <td>
                <%= @historia_clinica.a_enfermedad_actual %>
              </td>
            </tr> 
    </table>
    </div>
</div>
</div>








<div class="profile-usertitle">
  <div class="profile-usertitle-name">
IV. ANTECEDENTES PERSONALES
  </div>
</div>

<div class="container-fluid">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="tab_logic">

                <tr>
                  <td  style="width:20%;">
                  <b>Neonatales:</b>             
                  </td>
                  <td  style="width:5%;">
                    <%= @historia_clinica.b_neonatales %>
                  </td>
                 
                  <td  style="width:25%;">
                  <b>Neonatales Descripción:</b>             
                  </td>
                  <td  style="width:50%;">
                  <%= @historia_clinica.b_neonatales_descripcion %>
                  </td>
                </tr>

                <tr>
                  <td>
                  <b>Patologicos:</b>             
                  </td>
                  <td >
                  <%= @historia_clinica.b_patologicos %>
                  </td>
   
                  <td>
                  <b>Patologicos Descripción:</b>             
                  </td>
                  <td >
                  <%= @historia_clinica.b_neonatales_descripcion %>
                  </td>

                </tr>


    </table>

    </div>
</div>
</div>











<div class="profile-usertitle">
  <div class="profile-usertitle-name">
V. REVISIÓN POR SISTEMAS
  </div>
</div>

<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">



    </table>
    </div>
</div>



















<div class="profile-usertitle">
  <div class="profile-usertitle-name">
VI.  EXAMEN FISICO
  </div>
</div>

<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">
       
      


    </table>
    </div>
</div>






<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">





    </table>
    </div>
</div>







<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">


    </table>
    </div>
</div>

















<div class="profile-usertitle">
  <div class="profile-usertitle-name">
VI.  IMPRESIÓN DIAGNOSTICA
  </div>
</div>




<div class="container-fluid">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered">






        <tr>

          <th>
Plan y Tratamiento
          </th>
          <td  colspan="3">
          </td>

</tr>




       


    </table>
    </div>
</div>
</div>



  </div>


<br>
<br>

<style type="text/css">

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  color: #5b9bd1;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
</style>






















    <tr>
      <th width="3% !important;">Id</th>
      <th width="20% !important;">Fecha</th>
      <th width="40% !important;">Descripción</th>
      <th width="10% !important;">Responsable</th>
      <th width="10% !important;">Cargo</th>
      <th width="15% !important;">Opciones</th>
    </tr>

<% notas_progreso = @historia_clinica.notas_progreso.each do |nota_progreso| %>

  <tr>


    <td><%= nota_progreso.id %></td>
    <td><%= nota_progreso.created_at %></td>
    <td><%= nota_progreso.descripcion %></td>
    <td><%= current_user.name %></td>
    <td><%= current_user.name %></td>

<td>

    <%= link_to 'Mostrar',  paciente_historia_clinica_nota_progreso_path(@paciente,@historia_clinica,nota_progreso),  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-primary btn-xs color_blanco principal'%>





</td>

  </tr>

<% end %>  