<%= form_for(@rol, html: { multipart: true, :remote => true  }) do |f| %>


<% if @rol.errors.any? %>
  <div id="error_explanation">
    <h2>Por Favor Verificar:</h2>

    <ul>
    <% @rol.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<div class="user">
  <div class="modal-header">
    <h4 class="modal-title"><h3>Datos rol</h3></h4>
  </div><br>
  <div class="row">
    <div class="col-md-4">
      Nombre:
    </div>
    <div class="col-md-6">
      <%= f.text_field :nombre,  placeholder: 'Campo Obligatorio', class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Restricciones:
    </div>
    <div class="col-md-6">
      <%= f.text_area :restricciones,  placeholder: 'Campo Obligatorio', class: "form-control" %>
    </div>
  </div>

</div>
<div class="modal-footer">
  <%= f.submit "Guardar", :class => 'btn btn-primary' %>
  <a href="#" class="btn btn-default" onclick="$.lazybox.close()">Cerrar</a>
</div>
<% end %>