


<tr id=<%= "rol_#{rol.id}" %>>
	<td><%= link_to rol.id, edit_rol_path(rol), :remote => true %></td>
	<td><%= rol.nombre.capitalize %></td>
	<td><%= rol.descripcion.capitalize %></td>
	
	<td>


    <%= link_to 'Mostrar',  rol, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-primary btn-xs color_blanco principal'%>



    <%= link_to 'Editar', edit_rol_path(rol),  :rel => "tooltip", :title => "Editar", :class => 'btn btn-primary btn-xs color_blanco principal',  :remote => true %>



	</td>
</tr>