<p id="notice"><%= notice %></p>

<h1>Listing Procedimientos</h1>

<table>
  <thead>
    <tr>
      <th>Tratamiento</th>
      <th>Via acceso</th>
      <th>Descripcion</th>
      <th>Glucometria1</th>
      <th>Glucometria2</th>
      <th>Electrocardiograma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @procedimientos.each do |procedimiento| %>
      <tr>
        <td><%= procedimiento.tratamiento %></td>
        <td><%= procedimiento.via_acceso %></td>
        <td><%= procedimiento.descripcion %></td>
        <td><%= procedimiento.glucometria1 %></td>
        <td><%= procedimiento.glucometria2 %></td>
        <td><%= procedimiento.electrocardiograma %></td>
        <td><%= link_to 'Show', procedimiento %></td>
        <td><%= link_to 'Edit', edit_procedimiento_path(procedimiento) %></td>
        <td><%= link_to 'Destroy', procedimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Procedimiento', new_procedimiento_path %>
