<div class="nested-fields">

	<div class="row">

	    <div class="col-sm-4 col-md-4">
	        <div class="fielset">
	          <%= f.label :tratamiento %><br>
			  <%= f.text_field :tratamiento, class: 'form-control' %>
	        </div>
	    </div>

	    <div class="col-sm-4 col-md-4">
	        <div class="fielset">
			<%= f.label :via_acceso %><br>
		    <%= f.text_field :via_acceso, class: 'form-control' %>
 	        </div>
	    </div>
		<div class="col-sm-4 col-md-4">
	        <div class="fielset">
	          <%= f.label :descripcion %><br>
			  <%= f.text_field :descripcion, class: 'form-control' %>
	        </div>
	    </div>

	</div>



	<div class="modal-footer">

       <%= link_to_remove_association 'Eliminar', f, :class => "
       btn btn-danger color_blanco custom" %>
    </div>

</div>


