 <div class="col-md-12" style = "margin:15px!important;text-align:center;">
<% if not @historia_clinica.errors.any? %>

   <%= link_to "1. Informacion General", paciente_historia_clinica_steps_path(@paciente, @historia_clinica, HistoriaClinica.form_steps.first), :class=>"btn btn-info color_blanco mrg" %>

    <%= link_to "2. Antesedentes Personales", paciente_historia_clinica_steps_path(@paciente, @historia_clinica, HistoriaClinica.form_steps.second), :class=>"btn btn-info color_blanco mrg" %>

    <%= link_to "3. Revisión por Sistemas", paciente_historia_clinica_steps_path(@paciente, @historia_clinica, HistoriaClinica.form_steps.third), :class=>"btn btn-info color_blanco mrg" %>

    <%= link_to "4. Examen Fisico", paciente_historia_clinica_steps_path(@paciente, @historia_clinica, HistoriaClinica.form_steps.fourth), :class=>"btn btn-info color_blanco mrg" %>

    <%= link_to "5. Impresión Diagnostica", paciente_historia_clinica_steps_path(@paciente, @historia_clinica, HistoriaClinica.form_steps.fifth), :class=>"btn btn-info color_blanco mrg" %>
<% end %>


</div>


<div class="container-fluid">    
        
    <div id="loginbox" class="mainbox col-md-12 col-sm-12"> 
        

        

<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.panel-heading {
    background-image: none;
    background-color: #ECECEC;
    color: #5bc0de;
    font-family: 'Roboto', sans-serif;
}

  .panel-title{
    font-size: 30px;   
  }
  .pie_form{
    background-image: none;
    background-color: #ECECEC;
    color: white;   
  }
  .line1
  {
    display: inline-block;
    width: 30% !important;
  }
  .centered{
    text-align: left;
  }



</style>






<div class="container-fluid navbar navbar-default" style = "margin-bottom:0px!importan">
  <div class="row">





<%= simple_form_for([@paciente, @historia_clinica], :html => {:id => "signup" }) do |f| %>

<br/>



















     <hr class="featurette-divider"></hr>




<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <form class="form-horizontal span6">
        <fieldset>
       

       
          <div class="form-group">
            <div class="controls">
              <div class="row">
                <div class="col-sm-12 col-md-12">






<div class="container" style="margin-top:10px; margin-bottom:-8px; text-align: left;
    margin-left: 0px!important;">
        <div class="centered title"><h1 style=" font-size:25px; text-align: left;color: #22BDC8;">  <span style = "margin-right:10px;color: #22BDC8;"class="glyphicon glyphicon-list-alt"></span>  7 ANALISIS</h1></div>
     </div>
     <hr class="featurette-divider"></hr>



                        <%= f.text_area :e_analisis, class: 'form-control' %>


                </div>
                


                
              </div>
            </div>
          </div>


        <div class="form-group">
          <div class="controls">
            <div class="row">
              
              <div class="col-sm-12 col-md-12">


<div class="container" style="margin-top:10px; margin-bottom:-8px; text-align: left;
    margin-left: 0px!important;">
        <div class="centered title"><h1 style=" font-size:25px; text-align: left;color: #22BDC8;">  <span style = "margin-right:10px;color: #22BDC8;"class="glyphicon glyphicon-list-alt"></span>  8 IMPRESIÓN DIAGNOSTICA</h1></div>
     </div>
     <hr class="featurette-divider"></hr>




                  <div class="fielset">
                    <%= f.fields_for :diagnosticos do |diagnosticos| %>
                        <%= render "diagnostico_fields", f: diagnosticos %>
                    <% end %>


                  <div class="modal-footer">
                    <%= link_to_add_association 'Agregar', f, :diagnosticos, {data: {'association-insertion-method' => 'after'}, :class => "btn btn-info color_blanco custom" } %>
                  </div>

                  </div>

              </div>



            </div>
          </div>
        </div>



       
        <div class="form-group">
          <div class="controls">
            <div class="row">
              
              <div class="col-sm-12 col-md-12">


<div class="container" style="margin-top:10px; margin-bottom:-8px; text-align: left;
    margin-left: 0px!important;">
        <div class="centered title"><h1 style=" font-size:25px; text-align: left;color: #22BDC8;">  <span style = "margin-right:10px;color: #22BDC8;"class="glyphicon glyphicon-list-alt"></span>  9 PROCEDIMIENTOS</h1></div>
     </div>
     <hr class="featurette-divider"></hr>





                  <div class="fielset">
                      <%= f.fields_for :procedimientos do |procedimientos| %>
                          <%= render "procedimiento_fields", f: procedimientos %>
                      <% end %>


                  <div class="modal-footer">
                    <%= link_to_add_association 'Agregar', f, :procedimientos, {data: {'association-insertion-method' => 'after'}, :class => "btn btn-info color_blanco custom" } %>
                  </div>

                  </div>

              </div>



            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <div class="row">
              
              <div class="col-sm-4 col-md-4">

                <div class="field">
                  <%= f.label :e_glucometria1 %><br>
                  <%= f.text_field :e_glucometria1, class: 'form-control' %>
                </div>


              </div>

              <div class="col-sm-4 col-md-4">

                <div class="field">
                  <%= f.label :e_glucometria2 %><br>
                  <%= f.text_field :e_glucometria2, class: 'form-control' %>
                </div>
              </div>

              <div class="col-sm-4 col-md-4">

                <div class="field">
                  <%= f.label :e_electrocardiograma %><br>
                  <%= f.text_field :e_electrocardiograma, class: 'form-control' %>
                </div>
              </div>
</div></div></div>



          <div class="form-group">
            <div class="controls">
              <div class="row">
                <div class="col-sm-12 col-md-12">



<div class="container" style="margin-top:10px; margin-bottom:-8px; text-align: left;
    margin-left: 0px!important;">
        <div class="centered title" style="width: 900px;"><h1 style=" font-size:25px; text-align: left;color: #22BDC8;">  <span style = "margin-right:10px;color: #22BDC8;"class="glyphicon glyphicon-list-alt"></span>  10 OBSERVACIONES / RECOMENDACIONES</h1></div>
     </div>
     <hr class="featurette-divider"></hr>



                        <%= f.text_area :e_observaciones_recomendaciones, class: 'form-control'  %>


                </div>
                


                
              </div>
            </div>
          </div>

      







<div class="form-group">
  <div class="controls">
    <div class="row">
      
      <div class="col-sm-12 col-md-12">



<div class="container" style="margin-top:10px; margin-bottom:-8px; text-align: left;
    margin-left: 0px!important;">
        <div class="centered title"><h1 style=" font-size:25px; text-align: left;color: #22BDC8;">  <span style = "margin-right:10px;color: #22BDC8;"class="glyphicon glyphicon-list-alt"></span>  11 DESENLACE</h1></div>
     </div>
     <hr class="featurette-divider"></hr>


          <%= f.label :e_evento_adverso %><br />
          <%= f.text_area :e_evento_adverso, class: 'form-control' %>










 <table class="table table-bordered table-hover" id="tab_logic">

  

      <tr >
            <td  colspan="1"  style = "width:25%!important; text-align:right;" >
               <%= f.label "Translado a Sanidad" %>
            </td>
            <td style = "width:2%!important;">
              <%= f.radio_button(:e_estado, "translado a sanidad", class: "calc" )%>

            </td>
            <td  colspan="1" style = "width:25%!important;  text-align:right;">
              <%= f.label "Translado a Urgencias" %>
            </th>

            <td style = "width:2%!important;">
              <%= f.radio_button(:e_estado, "translado a urgencias", class: "calc" )%>

            </td>
             <td  colspan="1" style = "width:25%!important;  text-align:right;">
                 <%= f.label "Fallecido durante el Translado" %>
            </th>

            <td style = "width:2%!important;">
              <%= f.radio_button(:e_estado, "fallecido durante el translado" , class: "calc")%>

            </td>
           

      </tr>

      <tr >

             <td  colspan="1" style = " text-align:right;">
                 <%= f.label "Dado de alta a Domicilio" %>
            </td> 
            <td>
              <%= f.radio_button(:e_estado, "dado de alta a domicilio" , class: "calc")%>

            </td>

           
             <td  colspan="1" style = " text-align:right;">
                 <%= f.label "Se Otorga Permiso de Vuelo" %>
            </td>
            <td>
                <%= f.radio_button(:e_estado, "se otorga permiso de vuelo" , class: "calc")%>

            </td> 


           
             <td  colspan="1" style = " text-align:right;">
                 <%= f.label "Retirado por Propios Medios sin concluir tratamiento" %>
            </td>
            <td>
                              <%= f.radio_button(:e_estado, "retirado por propios medios" , class: "calc")%>

            </td> 





      </tr>

      <tr>
        
             <td  colspan="1" style = " text-align:right;">
                 <%= f.label "Salida Voluntaria" %>
            </td>
            <td>
                              <%= f.radio_button(:e_estado, "salida voluntaria" , class: "calc")%>

            </td> 
      </tr>



      


      </thead>
  </table>
<hr>









      </div>


             
      
    </div>
  </div>
</div>



  <div class="form-group">
    <div class="controls">
      <div class="row">
        
        <div class="col-sm-11 col-md-11">
          

        <div class="container" style="margin-top:10px; margin-bottom:-8px; text-align: left;
    margin-left: 0px!important;">
        <div class="centered title" style="width: 900px;"><h1 style=" font-size:25px; text-align: left;color: #22BDC8;">  <span style = "margin-right:10px;color: #22BDC8;"class="glyphicon glyphicon-list-alt"></span>  10 DESEA CERRAR LA HISTORIA CLINICA</h1></div>
                  <h4>(Al cerrarla Ya no se Podra ser accesible para editarla)</h4>

     </div>
     <hr class="featurette-divider"></hr>



        </div>

        <div class="col-sm-1 col-md-1" style="margin-left:-180px; margin-top:10px;">
          <div class="centered title"> 
            <h1 style=" font-size:25px;"><%= f.check_box :e_estado, class: 'form-control' %></h1>
          </div>
        </div>

      </div>
    </div>
  </div>



<br/>


         <div class="well pie_form">

                <div class="form-actions"  style = "text-align:center!important"> 
                    <%= link_to "Regresar", paciente_historia_clinica_steps_path(@paciente, @historia_clinica, HistoriaClinica.form_steps.fourth), :class=>"btn btn-info color_blanco custom" %>
                    
                        <button type="reset" class="btn btn btn-info custom" style = "margin-right:20px;margin-left:20px; ">Borrar</button>
                        <%= f.submit 'Guardar', :class => 'btn btn-info custom' %>
                    
                </div>
              </div>


            




        </div>


  </div>
</div>
            <% end %>




</div>






          
       
       

        </fieldset>
    </div>
  </div>
</div>



   







                    