


<div class="col-md-10 col-xs-10 col-sm-10" >
<br/>



<br/>
<div align="center">
  <h1>Listado de  <span>Ciudades</span></h1>
</div>

  <%= form_tag request.path, :method => 'get', :class => '' do %>

<div id="page" class="middle">
  
  <div class="wrapper">
    <div class="table">
      
      <div class="table-cell-flex">
          <%= text_field_tag :search, params[:search], :placeholder => "Busca por el Nombre", :class => 'form-control' %>
      </div>
      
      <!-- random google image -->
      <div class="table-cell-fixed"> 
      <%= button_tag(type: "submit", class: "btn btn-link") do %>
        <i class="glyphicon glyphicon-search blanco"  style="font-size: 20px;"></i>
      <% end %>
      </div>
      
    </div>
  </div>
  
</div>
<% end %>



<div class="row new_blog">
<div class="col-md-6 col-md-offset-2" id="task-form" style="display:none;"></div>
</div>


<div class="row" >
  <div class="col-xs-6 col-sm-6 col-md-6">
<%= link_to 'Nueva Ciudad', new_city_path, remote: true, :class => "btn btn-primary" %>
</div>
  <div class="col-xs-6 col-sm-6 col-md-6">
  <%= will_paginate @cities, renderer: BootstrapPagination::Rails %>
</div>

</div>

<div class="row">
  <div class="col-md-12 " id="tasks">
    <%= render partial: "display" %>
  </div>
</div>






</div>
<style type="text/css">
    @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body{margin-top:20px;}
.fa-fw {width: 2em;}
</style>



