


<tr id=<%= "eps_#{eps.id}" %>>
	<td><%= link_to eps.id, edit_eps_path(eps), :remote => true %></td>
	<td><%= eps.nombre.capitalize %></td>
	
	<td>


    <%= link_to 'Mostrar',  eps, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-primary btn-xs color_blanco principal'%>



    <%= link_to 'Editar', edit_eps_path(eps),  :rel => "tooltip", :title => "Editar", :class => 'btn btn-primary btn-xs color_blanco principal',  :remote => true %>



	</td>
</tr>